.clue-control {
  // Override/revert Decap CMS style rules that adversely affect
  // CLUE content styling in the editor.
  a:active, a:link, a:hover, a:visited {
    color: revert;
    text-decoration: revert;
  }
  ul, ol {
    color: rgb(49, 61, 62);
    font-size: 15px;
    padding-left: revert;
  }
}