.custom-widget {
  border: 2px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  /*
   * To override or revert Decap CMS style rules that adversely affect
   * CLUE content styling in the editor, place related style rules
   * within the .canvas .document-content block below.
   */
  .canvas .document-content {
    .text-tool-tile {
      a {
        color: revert;
        text-decoration: revert;
      }
      ul, ol {
        color: rgb(49, 61, 62);
        font-size: 15px;
        padding-left: revert;
      }
    }
  }

}