@import ./vars
// application-specific styling goes here

#app
  background-color: $gray-mid !important

.document-workspace
  .single-workspace
    left: 0px
    right: 50px
    top: 60px
    bottom: 0px

    .document
      border-radius: 0px
      border-top-left-radius: 3px
      border-top-right-radius: 3px
      border-width: 0px
      margin: 10px

      .titlebar
        background-color: #ffffff
        .actions
          .icon
            background-color: #ffffff
            color: $gray-mid-click

      .canvas-area
        border-top: 4px solid $gray-mid
        bottom: 0px

        .document-content
          padding: 0px
          .tile-row
            .tool-tile.selected
              border: 2px solid #ffffff
              .tool-tile-drag-handle
                display: none
                .running-indicator
                  display: none
          .spacer
            height: 0px
            display:none

    .statusbar
      display: none
.left-nav
  display: none

.right-nav
  position: fixed
  width: 50px
  top: 62px
  right: 0px
  height: 100vh
  background-color: #ffffff

  .expanded-area
    right: -152px
    width: 150px
    top: 0px
    border-radius: 0px
    background-color: #ffffff
    border: 0px
    border-left: 1px solid $gray-mid

    .contents
      padding: 0px
      padding-top: 60px
      padding-bottom: 60px
      border-radius: 0px
      background-color: #ffffff
      // here
      background-image: url("../assets/program-icon.svg")
      background-position: 8px 8px
      background-repeat: no-repeat

      .container
        border-radius: 0px
        background-color: #ffffff
        width: 100px
        margin-left: 50px

        .my-work
          background-color: #ffffff
          .header
            display: none
          .section-header,
          .section-header.expanded,
          .section-header.collapsed
            color: #ffffff
            border-radius: 0px
            background-color: $gray-mid
            border-top: 1px solid white
        .list
          border-color: #ffffff
          .list-item
            background-color: #ffffff
            border: 2px solid #ffffff
            padding-bottom: 5px
            margin-bottom: 5px
            &:hover
              border: 2px solid $gray-light-hover
              background-color: $gray-light-hover
            &:active
              border: 2px solid $gray-light-click
              background-color: $gray-light-click

            .running-indicator
              display: block
              width: 130px
              height: 130px
              background: $badge-yellow
              border-radius: 65px
              border: 16px solid silver
              z-index: 2
              position: absolute
              top: 50px
              left: 40px
        .class-work
          background-color: #ffffff
          .header
            display: none
          .section.personal.published
            border: 0px
          .section-header
            color: #ffffff
            border-radius: 0px
            background-color: $gray-mid
            border-top: 1px solid white
        .list
          border-color: #ffffff
          .list-item
            background-color: #ffffff
            border: 2px solid #ffffff
            padding-bottom: 5px
            margin-bottom: 5px
            &:hover
              border: 2px solid $gray-light-hover
              background-color: $gray-light-hover
            &:active
              border: 2px solid $gray-light-click
              background-color: $gray-light-click
  .tabs
    right: -100px
    top: 0px
    width: 150px
    border-radius: 0
    z-index: 2
    flex-direction: row
    background-color: $gray-light-click

    .tab
      margin-right: 0px
      padding-left: 50px
      margin-bottom: 0px
      background: #ffffff
      background-color: #ffffff
      border: 0
      box-shadow: none
      border-radius: 0
      margin-top: 0px
      transition: margin-top 0s
      &:hover
        background-color: $gray-light-hover
    &.expanded
      right: -50px
      .tab
        border-bottom: 1px solid #ffffff
        margin-top: 6px
        margin-bottom: 2px
        width: 49px
        padding-left: 0px
        &.active
          background: #ffffff
          background-color: #ffffff
          border: 0
          border-bottom: 1px solid #ffffff
          margin-top: 5px
          margin-bottom: -1px
        &:hover
          background-color: $gray-light-hover
          border: 0

      #rightNavTab-my-work
        border-top-right-radius: 3px
        margin-right: 2px

      #rightNavTab-class-work
        border-top-left-radius: 3px

.text-tool
  &.editable
    min-height: 50px