$gray-text: #242424
$gray-text-select: #5b5b5b
$gray-mid-select: #838383
$gray-mid-click: #969696
$gray-mid-hover: #a8a8a8
$gray-mid: #bcbcbc
$gray-light-click: #cdcdcd
$gray-light-hover: #dddddd
$gray-light: #eeeeee
$gray-light-2: #f5f5f5

$shadow: rgba(0, 0, 0, 0.25)

$sensor-blue: #1c5bdc
$sensor-blue-node: #5584e5
$sensor-blue-control: #8daded
$sensor-blue-outline: #c6d6f6
$sensor-blue-readout: #e2eafa
$number-blue: #0084de
$number-blue-node: #40a3e7
$number-blue-control: #7fc1ee
$number-blue-outline: #bfe0f7
$generator-blue: #2fa7ec
$generator-blue-node: #63bdf1
$generator-blue-control: #97d3f5
$generator-blue-outline: #cbe9fa
$generator-blue-readout: #e5f4fc
$timer-blue: #5bc6ea
$timer-blue-node: #84d5f0
$timer-blue-control: #ade2f4
$timer-blue-outline: #d6f1fa

$math-green: #218e35
$math-green-node: #59ab68
$math-green-control: #90c69a
$math-green-outline: #c7e3cc
$math-green-readout: #e3f1e5
$logic-green: #40ae0d
$logic-green-node: #70c34a
$logic-green-control: #9fd686
$logic-green-outline: #cfebc2
$logic-green-readout: #e7f5e0
$transform-green: #8abf00
$transform-green-node: #a8cf40
$transform-green-control: #c4df7f
$transform-green-outline: #e2efbf
$transform-green-readout: #f0f7df

$relay-orange: #ed6a08
$relay-orange-node: #f29046
$relay-orange-control: #f6b483
$relay-orange-outline: #fadac1
$relay-orange-readout: #fcece0
$data-storage-orange: #f99809
$data-storage-orange-node: #fbb247
$data-storage-orange-control: #fccb84
$data-storage-orange-outline: #fde5c1

$badge-green: #63ff00
$badge-yellow: #fdff00
$badge-red: #ff0000
$data-purple: #d51eff
$data-aqua: #17ddd7
$data-yellow: #d3d114
$data-blue: #3974ff
$data-red: #ff3d3d
$data-green: #49d381


//
// Sizes
//
$dataflow-topbar-height: 40px
