.workspace .config form.sort-work-settings {
  h3 {
    margin-bottom: 8px;
  }

  p.muted {
    margin-bottom: 20px;
  }

  fieldset {
    margin-bottom: 24px;
    padding: 12px 16px 16px;

    legend {
      font-weight: bold;
      padding: 0 4px;
    }

    p.muted {
      margin-top: 12px;
      margin-bottom: 0;

      &:first-of-type {
        margin-top: 8px;
        margin-bottom: 12px;
      }
    }

    label {
      margin-top: 4px;
    }

    select {
      margin-top: 8px;
    }

    table {
      margin-top: 8px;

      .order-buttons {
        white-space: nowrap;

        button {
          align-items: center;
          display: inline-flex;
          justify-content: center;
          line-height: 1;
          padding: 4px 12px 6px;

          &:first-child {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .bottomButtons {
    margin-top: 8px;
  }
}
