.workspace .config form.sort-work-settings {
  h3 {
    margin-bottom: 8px;
  }

  p.muted {
    margin-bottom: 20px;
  }

  fieldset {
    margin-bottom: 24px;
    padding: 12px 16px 16px;

    legend {
      font-weight: bold;
      padding: 0 4px;
    }

    p.muted {
      margin-top: 12px;
      margin-bottom: 0;

      &:first-of-type {
        margin-top: 8px;
        margin-bottom: 12px;
      }
    }

    label {
      margin-top: 4px;
    }

    select {
      margin-top: 8px;
    }

    table {
      border-collapse: collapse;
      margin-top: 8px;
      width: 100%;

      th, td {
        padding: 8px 12px;
        text-align: left;
        vertical-align: middle;
      }

      th {
        border-bottom: 1px solid #ddd;
        font-weight: 600;
      }

      th.enabled,
      td.enabled {
        text-align: center;
        width: 70px;
      }

      th.order,
      td.order {
        width: 90px;
      }

      th.sort-type, td.sort-type, .filter-type {
        width: 150px;
      }

      td.description {
        color: #666;
        font-size: 0.9em;
      }

      .order-buttons {
        white-space: nowrap;

        button {
          align-items: center;
          display: inline-flex;
          justify-content: center;
          line-height: 1;
          height: 28px;
          padding: 0 0 2px;
          width: 28px;

          &:first-child {
            margin-right: 4px;
          }
        }
      }

    }
  }

  .bottomButtons {
    margin-top: 8px;
  }
}
