@import "../../../components/vars";
@import "../../../components/mixins";

.sixpack-right-controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  right: 0px;
  margin: 6px;
  margin-left: 0px;
  padding-right: 5px;
  border-color: #c9dab7;
  width: 110px;

  .top-controls {
    background-color: $sage;
    padding: 5px;
  }

  .bottom-controls {
    height: 0;
    overflow-y: auto;

    // visible scrollbars harm this tiny column
    @include hideScrollbars;

    overflow-x: hidden;
    background-color: $sage;
    padding: 10px;
    margin-top: 6px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pager-controls {
    background-color: $sage;
    padding: 10px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  button {
    border-radius: 5px;
    font-size: 10pt;
    outline: none;
    background-color: red;
    &.live {
      background-color: $sage-dark-1;

      &:hover {
        background-color: $sage-light-2;
      }

      &.selected {
        background-color: #d8e1e8;
      }
    }

    &.pub {
      background-color: $sage-dark-1;

      &:hover {
        background-color: $sage-light-2;
      }

      &.selected {
        background-color: #d8e1e8;
      }
    }
  }
}
