@import "../../../components/vars";

.teacher-support {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .icon {
    height: 20px;
    width: 20px;
    position: absolute;
    cursor: pointer;

    &:hover {
      color: $color2;
    }

    &:active {
      color: $color2-5;
    }
  }

  input {
    height: 30px;
  }

  .content, .section-target, .section-dropdown {
    font-family: inherit;
    font-size: inherit;
    margin-left: 10px;
    color: black;
    display: flex;
    align-items: center;
  }

  .content {
    flex-grow: 1;
  }

  .section-target {
    text-align: center;
  }

  .section-target, .section-dropdown {
    min-width: $section-width;
  }

  .send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color1;
    width: 110px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $color1-4;
    }

    &:active {
      background-color: $color1-5;
    }
  }

  .date {
    color: black;
    margin-left: $date-margin;
    min-width: $date-width;
  }
}
