@import "../../../components/vars";

.teacher-student-tab {
  .user-list {
    margin: 0;

    .user {
      background-color: #2da343;
      padding: $half-padding;
      float: left;
      margin: $quarter-margin;
      cursor: pointer;

      &.disconnected {
        background-color: #777;
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
      margin-top: $half-margin;
    }
  }

  .selected-user {
    margin: $double-margin $margin;
    border: $border-width solid $border-color;
    border-radius: $border-radius;

    .title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      background-color: #3E90AC;
      color: #fff;
      border-radius: $border-radius $border-radius 0 0;

      .info {
        flex-grow: 1;
        padding: $half-padding $padding;
      }

      .actions {
        flex-grow: 0;
        background-color: #b3ca9d;
        padding: $half-padding $padding;
        border-radius: 0 $border-radius 0 0;
      }
    }

    .content {
      padding: $padding;
    }
  }
}
