.group-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .actions {
    .icon {
      background-color: transparent;
      cursor: pointer;
      border: 0;
      padding: 6px;

      .button-icon {
        background-repeat: no-repeat;
        box-sizing: content-box;
        width: 39px;
        height: 30px;
      }

      &:hover {
        background-color: hsla(1, 0%, 0%, 0.1);
      }

      .expand-group-view {
        background-image: url("../../../assets/icons/clue-dashboard/expand-group-view.svg");
      }

      .sticky-note {
        background-image: url("../../../assets/icons/clue-dashboard/sticky-note.svg");
      }
    }
  }
}
