@import ../../../components/vars

.teacher-group-tab
  display: grid
  grid-template-columns: 1fr 100px
  grid-template-rows: 1fr 100px
  background-color: white
  .teacher-supports
    padding: 5px

