@import "../../../components/vars";

.class-info-button-container {
  .class-info-button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background-color: $sage-light-1;
    color: $sage-text;

    &:hover {
      background-color: $sage-dark-2;
    }
  }
}
