@import ../../../components/vars

.teacher-group-tab
  // display: grid
  // grid-template-columns: 1fr 100px
  // grid-template-rows: 1fr
  display: flex
  background-color: white
  position: absolute
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  .teacher-supports
    padding: 5px

