@import "../../../components/vars";

.teacher-group-tab {
  display: flex;
  background-color: white;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  .teacher-supports {
    padding: 5px;
  }
}
