@import "../../../components/vars";

.teacher-group-six-pack {
  display: grid;
  margin: 6px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 6px;
  justify-items: center;
  color: black;
  flex: auto;
  overflow: auto;

  .teacher-group-canvas-container {
    position: absolute;
    top: 45px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }

  .teacher-group-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .teacher-group {
    position: relative;
    background-color: $color1;
    border: $color1;
    padding: 0;
    width: 100%;
  }

  .group-label {
    padding-left: 14px;
    padding-top: 13px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    margin-left: 3px;
  }

  .group-0-0 {
    grid-row: 0 1;
    grid-column: 0 1;
  }

  .group-0-1 {
    grid-row: 0 1;
    grid-column: 1 2;
  }

  .group-0-2 {
    grid-row: 0 1;
    grid-column: 2 3;
  }

  .group-1-0 {
    grid-row: 1 2;
    grid-column: 0 1;
  }

  .group-1-1 {
    grid-row: 1 2;
    grid-column: 1 2;
  }

  .group-1-2 {
    grid-row: 1 2;
    grid-column: 2 3;
  }
}
