coverage
dist
node_modules
npm-error.log
.DS_Store
serviceAccountKey.json
.env
.idea
.yalc
yalc.lock
.nyc_output
coverage-cypress
cypress/screenshots
*debug.log
stats.json
top-test/
docs/drafts
src/public/ai/dataset*
src/public/ai/screenshotDataset*

# VSCode project settings
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Cypress env file with sensitive data
cypress.env.json
