coverage
dist
node_modules
npm-error.log
.DS_Store
serviceAccountKey.json
.idea
.yalc
yalc.lock
.nyc_output
coverage-cypress
cypress/screenshots
*debug.log
stats.json
top-test/
docs/drafts
scripts/dataset*

# VSCode project settings
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
