sudo: false
language: node_js
node_js: node
cache:
  bundler: true
  pip: true
  yarn: true
install:
- travis_retry gem install s3_website -v 3.4.0
- travis_retry pip install awscli --upgrade --user
- travis_retry yarn install --frozen-lockfile
script:
- yarn build
- yarn test
after_script:
- ./s3_deploy.sh
