sudo: false
dist: trusty
language: node_js
node_js: lts/*
cache:
  bundler: true
  pip: true
  directories:
    - "$HOME/.npm"
    - "$HOME/.cache"
# cf. https://stackoverflow.com/a/52387639
install:
- travis_retry gem install s3_website -v 3.4.0
- travis_retry pip install awscli --upgrade --user
- travis_retry npm ci
script:
- echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
- npm run build
- npm run test:coverage -- --runInBand --forceExit
- ./cypress/run_cypress_test.sh
after_success:
- ./s3_deploy.sh
- ./rollbar_deploy.sh
