@import "../vars";

.collapsed-workspace-tab {
  position: absolute;
  top: $header-height;
  right: 0;
  height: calc(100vh - (#{$header-height} + #{$workspace-content-margin} * 2));
  width: 38px;
  border: 2px solid $workspace-teal;
  margin: 4px 4px 0 2px;
  padding: 2px;
  border-radius: 8px 0 0 0;
  box-sizing: border-box;
  background-color: $workspace-teal-light-4;
  display: flex;

  .collapsed-tab-label {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 14px;
    margin: 20px 7px;
    width: 50px;
  }
  .expand-right-indicator {
    transform: rotate(180deg);
    position: relative;
    right: 33px;
    align-self: center;
    justify-self: center;
  }
}
