@import ../vars

.document
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  color: #000
  background-color: #F8FCFE
  margin: $margin
  margin-left: $margin - $border-width
  border: $border-width solid $border-color
  border-radius: $border-radius

  .titlebar
    position: absolute
    top: 0
    left: 0
    right: 0
    height: $workspace-titlebar-height
    background-color: $color1-3
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius

    .title
      flex-grow: 1
      text-align: center
      padding: $margin
      font-weight: bold
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      display: flex
      justify-content: center
      align-items: center

      .icon-edit
        background-color: $color1-3
        width: 9.9px
        height: 10.1px
        cursor: pointer
        border: 0
        padding: 0
        margin-left: $half-margin
        margin-bottom: $half-margin

        &:focus
          outline: none
          outline-offset: 0

        .edit
          background-image: url("../../assets/icons/edit/edit.svg")
          background-repeat: no-repeat
          box-sizing: content-box
          width: 17.8px
          height: 18px

          &:hover
            background-image: url("../../assets/icons/edit/edit-hover.svg")

    .actions
      flex-grow: 0
      padding: 1px 0
      display: flex

      .action.icon.icon-download
        transform: rotate(180deg)
        transform-origin: 50% 50%
        padding-bottom: 2px

      .mode
        border-top-right-radius: $border-radius

      .mode #nextMode
        display: none

      .mode:hover 
        #currMode
          display: none
        #nextMode
          display: block

      .visibility.private
        .icon
          color: $color1-4
        &:hover .icon
          color: $color1-6
        &:active .icon
          color: $color1-7

      .visibility.public
        .icon
          color: $color1-6
        &:hover .icon
          color: $color1-5
        &:active .icon
          color: $color1-4

      .icon
        box-sizing: content-box
        background-repeat: no-repeat
        background-color: $color1-3
        color: $color1-7
        width: 36px
        height: 34px
        padding: $half-padding
        padding-top: 2px
        margin-left: $half-margin
        cursor: pointer

        &:hover
          background-color: $color1-4

        &:active
          background-color: $color1-5

      .icon-button
        border: 0
        padding: 0

        &:hover
          background-color: $color1

        &:active
          background-color: $color1-4

        &:focus
          outline: none
          outline-offset: 0

      .icon-new,.icon-copy
        background-color: $color1-3
        padding: $padding
        padding-top: 2px
        position: relative
        width: 40px
        height: 36px
        cursor: pointer

        .new,.copy
          background-repeat: no-repeat
          position: absolute
          left: 15%
          bottom: 10%
          width: 30px
          height: 26px
          padding: $half-padding
          padding-top: 2px
          cursor: pointer

          &:active
            transform-origin: center
            transform: scale(.85)

      .icon-new
        border-top-left-radius: $border-radius
        margin-left: 0

        .new
          background-image: url("../../assets/icons/new/new.svg")

          &:hover
            background-image: url("../../assets/icons/new/new-hover.svg")

          &:active
            background-image: url("../../assets/icons/new/new-active.svg")

  .canvas-area
    position: absolute
    top: $workspace-titlebar-height
    bottom: $workspace-statusbar-height
    left: 0
    right: 0
    border-top: $border-width solid $border-color

  .statusbar
    position: absolute
    background: $color1-3
    bottom: 0
    left: 0
    right: 0
    height: $workspace-statusbar-height
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius
    border-top: $border-width solid $border-color
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start

    .supports
      flex-grow: 1

      .supports-list
        display: inline
        margin: 0 $margin

        svg
          display: inline-block
          box-sizing: content-box
          padding: $half-padding
          margin: 1px $quarter-margin 0 0
          color: $color1-5
          width: 24px
          height: 24px
          cursor: pointer

          &.show
            color: $color1-6
            &:hover
              color: $color1-7
            // FIXME: Darker color needed for &:active
            &:active
              color: $color1-7

          &.hide
            color: $color1-4
            &:hover
              color: $color1-5
            &:active
              color: $color1-6

      .visible-supports
        position: absolute
        bottom: $workspace-statusbar-height + $border-width
        left: 0
        right: 0

        .supports-list
          margin: 0

          div
            background-color: $color1-3
            padding: $half-padding $padding

    .actions
      flex-grow: 0
      padding: 1px 0

      .mode #nextMode
        display: none

      .mode:hover 
        #currMode
          display: none
        #nextMode
          display: block

      .icon
        box-sizing: content-box
        background-color: $color1-3
        color: $color1-7
        width: 36px
        height: 34px
        padding: 0 $half-padding
        margin-left: $half-margin
        border-bottom-right-radius: $border-radius
        cursor: pointer

        &:hover
          background-color: $color1-4

        &:active
          background-color: $color1-5


