@import "../vars";

.document-scroller-header {
  background-color: $classwork-purple-light-5;
  border: solid 1.5px $classwork-purple;
  border-top: none;
  border-bottom: none;
  align-items: center;
  display: flex;
  padding: 0px 8px;
  justify-content: space-between;

  .header-text {
    display: flex;
    gap: 5px;
    height: 36px;
    align-items: center;

    .sort-type {
      font-weight: bold;
    }

    .sort-label {
      display: flex;
      justify-content: center;
      min-width: 60px;
    }
  }
}

.switch-sort-group-button {
  background: none;
  border: none;
  border-radius: 5px;
  color: $classwork-purple-dark-1;
  cursor: pointer;
  display: flex;
  padding: 0;

  &.right {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $classwork-purple-light-3;
  }

  &:active {
    background-color: $classwork-purple-dark-1;
    color: white;
  }

  &:disabled {
    cursor: default;
    opacity: 0.35;

    &:hover {
      background: none;
    }

    &:active {
      background: none;
      color: $classwork-purple-dark-1;
    }
  }
}
