@import ../vars

.document-content
  box-sizing: border-box
  height: 100%
  width: 100%
  background-color: #fff
  padding: 0
  overflow: auto

  .spacer
    height: 300px
    &.playback-spacer
      height: 350px
  .playback-spacer
    height: 50px

.document-content-smooth-scroll
  scroll-behavior: smooth
