@import "../vars";

.document {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: white;
  border: $document-border-width solid $workspace-teal;

  &.no-border {
    border: 0;
  }

  .titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $workspace-titlebar-height;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &.planning {
      background-color: $workspace-teal-light-4;
    }
    .display-id {
      flex-grow: 1;
      text-align: center;
      text-overflow: ellipsis;
      padding: $margin + 2px 0;
      user-select: text;
      color: gray;
    }
    .title {
      flex-grow: 1;
      text-align: center;
      padding: $margin;
      color: $charcoal-dark-2;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-edit {
        background-color: $color1-3;
        width: 9.9px;
        height: 10.1px;
        cursor: pointer;
        border: 0;
        padding: 0;
        margin-left: $half-margin;
        margin-bottom: $half-margin;

        &:focus {
          outline: none;
          outline-offset: 0;
        }
        .edit {
          background-image: url("../../assets/icons/edit/edit.svg");
          background-repeat: no-repeat;
          box-sizing: content-box;
          width: 17.8px;
          height: 18px;

          &:hover {
            background-image: url("../../assets/icons/edit/edit-hover.svg");
          }
        }
      }
      .icon-sticky-note {
        background-image: url("../../assets/icons/clue-dashboard/sticky-note.svg");
        background-color: $workspace-teal-light-4;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: 0;
        padding: 4px;
        margin-left: $margin;

        &:focus {
          outline: none;
          outline-offset: 0;
        }
        &:hover {
          background-color: $workspace-teal-light-3;
        }
      }
    }
    .actions {
      flex-grow: 0;
      padding: 1px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .action.icon.icon-download {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
        padding-bottom: 2px;
      }
      .mode {
        border-top-right-radius: $border-radius;
      }
      .share-separator {
        width: 1px;
        height: 24px;
        margin: 0 3px;
        background-color: $workspace-teal;
        border: 0.5px solid $workspace-teal;
      }
      .toggle-control {
        margin: 0 4px;
      }
      .share-label {
        margin: 0 7px 0 3px;
      }
      .button-set {
        margin-left: 8px;
        border-radius: 5px;
        border: solid 1.5px $charcoal-light-1;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        height: 26px;

        button {
          position: relative;
          border: none;
          height: 23px;
          padding: 0 2px;
          border-radius: 3px;
          background-color: inherit;

          &.active {
            background-color: $workspace-teal-light-2;
          }

          &:hover {
            background-color: $workspace-teal-light-3;
          }

          svg.corner-triangle {
            position: absolute;
            right: 1px;
            bottom: 1px;
            fill: #0481A0;
          }

        }
      }


      .icon {
        box-sizing: content-box;
        background-repeat: no-repeat;
        background-color: $color1-3;
        color: $color1-7;
        width: 36px;
        height: 34px;
        padding: $half-padding;
        padding-top: 2px;
        margin-left: $half-margin;
        cursor: pointer;

        &:hover {
          background-color: $color1-4;
        }
        &:active {
          background-color: $color1-5;
        }
      }
      .ideas-button {
        box-sizing: border-box;
        height: 26px;
        margin-left: 8px;
        padding: 1px 6px 1px 0;
        border-radius: 5px;
        border: solid 1.5px $charcoal-light-1;
        background-color: $workspace-teal-light-4;
        display: flex;
        align-items: center;
        &:hover {
          background-color: $workspace-teal-light-3;
          cursor: pointer;
        }
        &:active {
          background-color: $workspace-teal-dark-1;
          color: white;
          cursor: pointer;
          border-color: white;
        }
      }
      .icon-button {
        background-color: $color1-3;
        position: relative;
        width: 34px;
        height: 28px;
        margin: 0 4px;
        cursor: pointer;
        border: 0;

        &:hover {
          background-color: $color1;
        }
        &:active {
          background-color: $color1-4;
        }
        &:focus {
          outline: none;
          outline-offset: 0;
        }
        .button-icon {
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 1px;
          width: 30px;
          height: 28px;
          cursor: pointer;
        }
        &.icon-publish,
        &.icon-up1,
        &.icon-up4 {
          height: 32px;
          border-radius: 0;

          .button-icon {
            width: 32px;
            height: 32px;
          }
          &:hover {
            background-color: $workspace-teal-light-3;
          }
          &:active {
            background-color: $workspace-teal-light-2;
          }
        }
      }
      .icon-new {
        margin-left: 8px;

        .new {
          background-image: url("../../assets/icons/new/new.svg");

          &:hover {
            background-image: url("../../assets/icons/new/new-hover.svg");
          }
          &:active {
            background-image: url("../../assets/icons/new/new-active.svg");
          }
        }
      }
      .icon-copy {
        margin-right: 1px;
      }
      .icon-support {
        border-top-left-radius: $border-radius;
        margin-left: 0;

        .support {
          background-image: url("../../assets/icons/support/support.svg");

          &:hover {
            background-image: url("../../assets/icons/support/support-hover.svg");
          }
          &:active {
            background-image: url("../../assets/icons/support/support-active.svg");
          }
        }
      }
    }
  }
  .document-tabs {
    position: absolute;
    top: $workspace-titlebar-height;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
  }
  // teacher dashboard puts .canvas-area directly within .document
  > .canvas-area {
    position: absolute;
    top: $workspace-titlebar-height;
    bottom: 0;
    left: $workspace-toolbar-width + $canvas-separator-offset + $canvas-separator-width;
    right: 0;
    border-top: $document-border-width solid white;
  }
  .statusbar {
    position: absolute;
    background: $color1-3;
    bottom: 0;
    left: 0;
    right: 0;
    height: $workspace-statusbar-height;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: $border-width solid $border-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .supports {
      flex-grow: 1;

      .supports-list {
        display: inline;
        margin: 0 $margin;

        svg {
          display: inline-block;
          box-sizing: content-box;
          padding: $half-padding;
          margin: 1px $quarter-margin 0 0;
          color: $color1-5;
          width: 24px;
          height: 24px;
          cursor: pointer;

          &.show {
            color: $color1-6;
            &:hover {
              color: $color1-7;
            }            // FIXME: Darker color needed for &:active
            &:active {
              color: $color1-7;
            }
          }
          &.hide {
            color: $color1-4;
            &:hover {
              color: $color1-5;
            }
            &:active {
              color: $color1-6;
            }
          }
        }
      }
      .visible-supports {
        position: absolute;
        bottom: $workspace-statusbar-height + $border-width;
        left: 0;
        right: 0;

        .supports-list {
          margin: 0;

          div {
            background-color: $color1-3;
            padding: $half-padding $padding;
          }
        }
      }
    }
    .actions {
      flex-grow: 0;
      padding: 1px 0;

      .mode #nextMode {
        display: none;
      }
      .mode:hover {
        #currMode {
          display: none;
        }
        #nextMode {
          display: block;
        }
      }
      .icon {
        box-sizing: content-box;
        background-color: $color1-3;
        color: $color1-7;
        width: 36px;
        height: 34px;
        padding: 0 $half-padding;
        margin-left: $half-margin;
        border-bottom-right-radius: $border-radius;
        cursor: pointer;

        &:hover {
          background-color: $color1-4;
        }
        &:active {
          background-color: $color1-5;
        }
      }
    }
  }
  .sticky-note-popup {
    font-weight: normal;
    position: absolute;
    background-color: #fffd93;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #333;
    padding: 3px;
    box-shadow: 3px 3px rgba(0,0,0,0.25);

    .sticky-note-popup-titlebar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      background-color: #7da56c;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      padding: 5px;

      .sticky-note-popup-titlebar-title {
        flex-grow: 1;
        text-align: center;
        font-size: 1.3em;
      }
      .sticky-note-popup-titlebar-close-icon {
        background-image: url("../../assets/icons/clue-dashboard/close.svg");
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: 0;
        z-index: 3;
      }
    }
    .sticky-note-popup-items {
      overflow: auto;
      max-height: 400px;
      padding: 5px;

      .sticky-note-popup-item {
        text-align: left;
        border-top: 1px solid #fffd93;
        padding: 5px 0;

        &.border-top {
          padding-top: 7px;
          border-top: 1px solid #aaa;
        }
        .sticky-note-popup-item-meta {
          font-size: 0.9em;
          color: #777;
        }
        .sticky-note-popup-item-content {
          font-size: 1.1em;
          padding: 3px 0;
        }
      }
    }
  }
}

.annotation-mode-selection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1px 1.5px;
  border-radius: 0 5px 5px 5px;
  border: solid 1.5px #949494;

  .clue-app-content & {
    // Set background color that matches the app header bar; different from standalone doc editor header
    background-color: $workspace-teal-light-4;
  }

  button {
    height: 23px;
    padding: 0 2px;
    border: none;
    border-radius: 3px;
    background-color: inherit;

    &.active {
      background-color: $workspace-teal-light-2;
    }

    &:hover {
      background-color: $workspace-teal-light-3;
    }
  }

}
