@import ../vars

.document-content
  box-sizing: border-box
  height: 100%
  width: 100%
  background-color: #fff
  padding: 0 $small-padding $padding 0
  overflow: auto

  .spacer
    height: 300px

.document-content-smooth-scroll
  scroll-behavior: smooth
