@import "../../components/vars";

.drag-handler {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
}

.single-workspace {
  position: relative;
  height: 100%;
}

.left-workspace {
  position: absolute;
  top: $header-height + $half-nav-expanded-peek;
  left: $left-nav-contracted-width + $nav-expanded-peek + $workspace-toolbar-width;
  right: 50%;
  bottom: $half-nav-expanded-peek;

  .workspace {
    margin-right: $half-margin;
  }
}

.right-workspace {
  position: absolute;
  top: $header-height + $half-nav-expanded-peek;
  left: 50%;
  right: $right-nav-contracted-width + $nav-expanded-peek;
  bottom: $half-nav-expanded-peek;

  .workspace {
    margin-left: $half-margin;
  }

  .comparison-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    background-color: #F8FCFE;
    margin: $margin;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.dialog {
  &.create-personal {
    .dialog-container {
      .dialog-title {
        background-color: $workspace-teal-light-3;
      }
    }
  }

  &.create-learningLog {
    .dialog-container {
      .dialog-title {
        background-color: $learninglog-green-light-4;
      }
    }
  }
}
