@import "../vars";

.full-screen-editable-document-content {
  position: absolute;
  top: $workspace-titlebar-height;
  left: 0;
  width: 100%;
  height: calc(100% - #{$workspace-titlebar-height});
}

.contained-editable-document-content {
  position: relative;
  width: 100%;
  height: 680px;

  &.full-height {
    height: 100%;
  }
}

.editable-document-content {
  &.comment-select {
    .document-content {
      background-color: $comment-select-background;
      padding: 3px;
      .tool-tile {
        border: 2px solid $comment-select-background;
      }
    }
  }

  .canvas-separator {
    position: absolute;
    top: 0;
    left: $workspace-toolbar-width + $canvas-separator-offset;
    width: $canvas-separator-width;
    bottom: 0;
    background-color: $workspace-teal-light-4;
  }

  .canvas-area {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
  }

  &.show-toolbar {
    .canvas-area {
      left: $workspace-toolbar-width + $canvas-separator-offset + $canvas-separator-width;
      width: calc(100% - ($workspace-toolbar-width + $canvas-separator-offset + $canvas-separator-width));
    }
  }

  .toolbar {
    .tool.primary {
      background-color: $workspace-teal-light-4;

      svg {
        path {
          fill: $workspace-teal-dark-1 !important;
        }
      }

      &:hover {
        background-color: $workspace-teal-light-3;
      }
      &.active {
        background-color: $workspace-teal-light-2;
      }
    }
  }

  &.learning-log {
    .canvas-separator {
      background-color: $learninglog-green-light-5;
    }

    .toolbar {
      .tool.primary {
        background-color: $learninglog-green-light-5;

        svg {
          path {
            fill: $learninglog-green-dark-1 !important;
          }
        }

        &:hover {
          background-color: $learninglog-green-light-4;
        }
        &.active {
          background-color: $learninglog-green-light-2;
        }
      }
    }
  }
}
