@import "../vars";

.full-screen-editable-document-content {
  position: absolute;
  top: $workspace-titlebar-height;
  left: 0;
  width: 100%;
  height: calc(100% - #{$workspace-titlebar-height});
}

.contained-editable-document-content {
  position: relative;
  width: 100%;
  height: 680px;
}

.editable-document-content {
  &.comment-select {
    .document-content {
      background-color: $comment-select-background;
      .tool-tile {
        border: 2px solid $comment-select-background;
      }
    }
  }

  .canvas-separator {
    position: absolute;
    top: 0;
    left: $workspace-toolbar-width + $canvas-separator-offset;
    width: $canvas-separator-width;
    bottom: 0;
    background-color: $workspace-teal-light-4;
  }

  .canvas-area {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-top: $document-border-width solid white;
  }

  &.show-toolbar {
    .canvas-area {
      left: $workspace-toolbar-width + $canvas-separator-offset + $canvas-separator-width;
      width: calc(100% - ($workspace-toolbar-width + $canvas-separator-offset + $canvas-separator-width));
    }
  }
}
