.optional-loading-spinner {
  background-image: url("../../assets/Spinner-1s-200px.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 100px;
}
