@import "../vars.sass";

  .resize-panel-divider {
    display: flex;
    align-items: center;
    flex-flow: column;

    .divider {
      position: absolute;
      top: $header-height;
      width: 4px;
      height: calc(100vh - (#{$header-height} + #{$workspace-content-margin} * 2));
      margin: 10px 2px 0;
      border-radius: 2px;
      background-color: $charcoal-light-4;
      z-index: 1;
      cursor: col-resize;
    }

    .drag-thumbnail {
      position: absolute;
      align-self: center;
      z-index: 2;
      margin-top: 9px;
    }
    .left-right-drag {
      position: absolute;
      z-index: 2;
      opacity: 1%;
      cursor: col-resize;
      &:hover {
        transition: .25s;
        opacity: 50%;
      }
    }
  }