@import "../vars.sass";

  .resize-panel-divider {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: $header-height;
    height: calc(100vh - (#{$header-height} + #{$workspace-content-margin} * 2));
    transition-duration: .5s;

    .divider {
      position: absolute;
      width: 4px;
      height: 100%;
      margin: 10px 2px 0;
      border-radius: 2px;
      background-color: $charcoal-light-4;
      z-index: 1;
      cursor: col-resize;
    }

    .drag-thumbnail {
      position: absolute;
      z-index: 3;
      margin-top: 9px;
      top: 50%;
    }
    .drag-handles {
      display: flex;
      flex-direction: row;
      position: relative;
      left: 0;
      width: 44px;
      height: 44px;
      z-index: 1;
      top: 50%;
      opacity: 0.01%;
      &:hover {
        opacity: 50%;
      &:active {
        opacity: 100%;
      }
    }
      .drag-left-handle {
        position: absolute;
        width: 21px;
        height: 100%;
        left: 0;
        z-index: 3;
        cursor: pointer;
        &.disabled {
          visibility: hidden;
        }
      }
      .drag-right-handle {
        position: absolute;
        width: 21px;
        height: 100%;
        right: 0;
        z-index: 3;
        cursor: pointer;
        &.disabled {
          visibility: hidden;
        }
      }
    }
  }
