@import "../vars";
$title-margin: 0;

.sort-work-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .tab-panel-documents-section {
    border: solid 1.5px $classwork-purple;
    border-top: none;
  }

  .focus-document {
    border: solid 1.5px $classwork-purple;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .document-header {
      display: flex;
      align-items: center;
      height: $workspace-titlebar-height;
      background-color: $classwork-purple-light-5;
      margin-top: $title-margin;
      justify-content: center;
      position: relative;
      top: 0;
      width: 100%;

      .document-status {
        margin-left: 5px;
        flex-grow: 0;
      }

      .document-title {
        flex-grow: 1;
        font-size: 13px;
        font-weight: bold;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        white-space: nowrap;

        .sort-work {
          font-weight: normal;
        }
      }

      .document-buttons {
        display:flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        margin: 0 5px 0 0;
      }

      .close-doc-button {
        svg {
          position: relative;
          left:-2px;
          .x-shape {
            fill: $classwork-purple-dark-1;
          }
        }
        margin-left: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border-width: 0px;
        border-radius: 50%;
        padding: 3px;
        height:26px;
        width: 26px;
        &:hover {
          background-color: rgba(0,0,0,0.2);
        }
        &:active {
          background-color: rgba(0,0,0,0.4);
          .x-shape {
            fill: white;
          }
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.35;
        }
      }
      .edit-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 66px;
        height: 26px;
        border-radius: 5px;
        border: solid 1.5px $charcoal-light-1;
        background-color: $classwork-purple-light-5;
        padding: 0;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          background-color: $classwork-purple-light-3;
        }
        &:active {
          background-color: $classwork-purple-dark-1;
          color: white;
          .edit-icon {
            fill: white;
          }
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.35;
        }
        &.primary {
          background-color: $document-select-green;
        }
        &.secondary {
          background-color: $document-select-blue;
        }

        .edit-icon {
          fill: $classwork-purple-dark-1;
          width: 24px;
          height: 24px;
          margin-left: 4px;
          margin-right: 3px;
          &.learning-log {
            fill: $learninglog-green-dark-1;
          }
        }
      }
      .switch-document-button {
        background: $classwork-purple-light-5;
        border: none;
        cursor: pointer;
        height: 24px;
        margin: 0 0 0 9px;
        padding: 0;
        width: 24px;

        &:hover {
          background: $classwork-purple-light-3;
        }
        &:active {
          background: $classwork-purple-dark-1;

          svg {
            .highlighted-path {
              fill: white;
            }
          }
        }

        &.disabled {
          background: $classwork-purple-light-5;
          cursor: not-allowed;
          opacity: 0.35;

          svg {
            .highlighted-path {
              fill: $classwork-purple-dark-1;
            }
          }
        }

        &.next {
          transform: rotate(180deg);
        }

        svg {
          .highlighted-path {
            fill: $classwork-purple-dark-1;
          }
        }
      }
      .toggle-document-scroller {
        align-items: center;
        background-color: $classwork-purple-light-5;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: 26px;
        justify-items: center;
        margin-left: 5px;
        padding: 0;
        width: 26px;

        &.closed {
          svg {
            transform: rotate(180deg);
            transition: .2s;
          }
        }

        &:hover {
          background-color: $classwork-purple-light-3;
        }
        &:active {
          background-color: $classwork-purple-dark-1;
          svg {
            .highlighted-path {
              fill: white;
            }
          }
        }
      }
    }

    .document-error {

      p {
        margin-top: 3em;
        text-align: center;
      }
    }

    .editable-document-content {
      top: $nav-tab-height;
      flex: 1;

      .toolbar {
        .tool.primary {
          background-color: $classwork-purple-light-5;

          svg {
            path {
              fill: $classwork-purple-dark-1 !important;
            }
          }

          &:hover {
            background-color: $classwork-purple-light-4;
          }
          &.active {
            background-color: $classwork-purple-light-2;
          }
        }
      }

      .canvas-separator {
        background-color: $classwork-purple-light-5;
      }

      .canvas-area {
        // Not sure why - 4px is necessary here, but the document would always scroll otherwise
        height: calc(100% - 4px);

        .comment-select {
          .tool-tile.readonly {
            border: 2px solid $comment-select-background;
            &.selected {
              border: 2px solid white;
            }
          }
        }

        .playback-component {
          // This is to compensate for the - 4px above
          bottom: -4px;
        }
      }
    }
  }
}
