@import "../vars";

.sort-work-view {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .sorted-sections{
    width: 100%;
    height: 100%;

    .section-header{
      height: 30px;
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;

      &::after{ //divider line drawn across
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 50%;
        border-bottom: 1px solid $charcoal-light-1;
      }

      .section-header-label{
        position: absolute;
        left: 10px;
        height: 26px;
        border-radius: 5px;
        background-color: $classwork-purple-light-7;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $charcoal-dark-2;
        z-index: 1;
        padding: 0px 7px;
      }
    }
  }
}
