@import "../vars";

.sorted-sections {
  width: 100%;

  .section-header {
    height: 30px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;

    &::after { //divider line drawn across
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 50%;
      border-bottom: 1px solid $charcoal-light-1;
    }

    .section-header-label {
      svg{
        margin-right: 5px;
      }
      position: absolute;
      left: 10px;
      height: 26px;
      width: calc(100% - 20px);
      border-radius: 5px 5px 0px 0px;
      background-color: $classwork-purple-light-7;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $charcoal-dark-2;
      z-index: 1;
      padding: 0px 7px;

      .section-header-left {
        display: flex;
        align-items: center;
        font-weight: bold;
      }

      .section-header-right {
        display: flex;
        align-items: center;

        .section-header-arrow {
          cursor: pointer;
          fill: $classwork-purple-dark-1;
          margin-right: 0px;
          &.up {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .loading-spinner {
    background-image: url("../../assets/Spinner-1s-200px.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 75px;
  }
  .list {

    .doc-group {
      display: flex;
      width: 100%;
    }
  }
}
