.sort-work-view{
  height: 100%;
  width: 100%;


  .sort-work-header{
    height: 36px;
    width: 100%;
    background-color: #ecc9ff;
    display: flex;

    .header-text{
      width: 50px;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    .header-dropdown-1{

    }
  }

  .sort-work-documents{
    width: 100%;
    height: 50%;
    border-bottom: 2px solid black;

    .live-problem-documents{
      height: 150px;
      border-bottom: 2px solid black;
    }
    .live-personal-documents{
      height: 150px;
      border-bottom: 2px solid black;
    }
  }


}
