@import "../vars";

.student-group-view {
  .canvas-area {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
  }
}

.nav-tab-panel {
  .student-group-view {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-color: $charcoal;
    border-style: solid;
    border-width: 0 2px 2px;
    border-radius: 0;

    .titlebar.student-group.group {
      position: static;
      height: 36px;
      padding: 2px 0 0;
      background-color: white;

      .actions {
        display: flex;
        flex-direction: row;
        .icon.group-number {
          width: 32px;
          height: 26px;
          margin: 0 2px;
          border-radius: 5px;
          border: solid 1.5px $charcoal-light-1;
          background-color: $charcoal-light-6;
          box-sizing: border-box;
          display: flex !important;
          align-items: center;
          justify-content: center;
          padding: 0;

          .number {
            font-size: 12px;
          }
          &.active {
            border: solid 1.5px white;
            background-color: $charcoal-dark-1;
            pointer-events: none;
          }
        }
        .member-button {
          font-size: 12px;
          border-radius: 5px;
          border: solid 1.5px $charcoal-light-1;
          box-sizing: border-box;
          margin: 0 2px;
          color: $charcoal-dark-3;
          cursor: pointer;
          text-align: center;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;

          &.four-up-nw {
            background-color: $id-blue-light;
            &:hover {
              background-color: $id-blue-medium;;
            }
            &.focused {
              background-color: $id-blue;
              border-color: white;
            }
          }
          &.four-up-ne {
            background-color: $id-orange-light;
            &:hover {
              background-color: $id-orange-medium;;
            }
            &.focused {
              background-color: $id-orange;
              border-color: white;
            }
          }
          &.four-up-se {
            background-color: $id-green-light;
            &:hover {
              background-color: $id-green-medium;;
            }
            &.focused {
              background-color: $id-green;
              border-color: white;
            }
          }
          &.four-up-sw {
            background-color: $id-purple-light;
            &:hover {
              background-color: $id-purple-medium;;
            }
            &.focused {
              background-color: $id-purple;
              border-color: white;
            }
          }
        }
      }
    }
    .group-title {
      width: 100%;
      height: 36px;
      text-align: center;
      background-color: $charcoal-light-4;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      .group-title-center {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        .fourup-selected-user {
          height: 26px;
          margin-left: 5px;
          padding: 4px 8px;
          &.four-up-nw {
            background-color: $id-blue;
          }
          &.four-up-ne {
            background-color: $id-orange
          }
          &.four-up-se {
            background-color: $id-green
          }
          &.four-up-sw {
            background-color: $id-purple
          }
        }
      }
    }
    .canvas-area {
      flex: 1;
    }
  }
  .student-group-view.chat-open {
    border-right: 0;
  }
}
