.tile-row
  position: relative
  min-height: 18px
  display: flex
  flex-direction: row
  align-content: flex-start

  .show-feedback
    background-color: #0000ff
    opacity: 0.25

  .top-drop-feedback
    position: absolute
    left: 0
    right: 0
    top: -8px
    height: 16px
    z-index: 1

  .left-drop-feedback
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 16px
    z-index: 1

  .right-drop-feedback
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 16px
    z-index: 1

  .bottom-resize-handle
    position: absolute
    left: 0
    right: 0
    bottom: -8px
    height: 16px
    z-index: 2
    cursor: row-resize
