@import "../vars";

.chat-list {
  overflow-y: auto;

  .chat-thread {
    margin: 2px;
    white-space: pre-wrap;
    min-height: 27px;
    flex-shrink: 0;


    &.chat-thread-focused {
      border: solid 1px $charcoal-light-2;
    }
    .chat-thread-header {
      padding: 0 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: $charcoal-light-8;
      color: $charcoal;
      border: solid 1px $charcoal-light-2;

      &.problems {
        background-color: $problem-orange-light-7;
        &:hover{
          background-color: $problem-comment-hover;
        }
      }
      &.teacher-guide {
        background-color: $learninglog-green-light-7;
        &:hover{
          background-color: $teacherguide-comment-hover;
        }
      }
      &.my-work {
        background-color: $workspace-teal-light-6;
        &:hover{
          background-color: $mywork-comment-hover;
        }
      }
      &.class-work {
        background-color: $classwork-purple-light-7;
        &:hover{
          background-color: $classwork-comment-hover;
        }
      }
      &.selected {
        border: none;
        background-color: $comment-select-yellow;
      }

      &.supports {
        background-color: $support-blue-light-7;
      }
      .comment-card-header-icon {
        height: 34px;
      }
    }

    .chat-thread-title {
        line-height: 1.29;
        color: $charcoal-dark-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .chat-thread-comment-info {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      height:100%;
    }
    .chat-thread-tile-info {
      flex-shrink: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;

      .chat-thread-tile-type {
        flex-shrink: 0;
        flex-grow: 0;
        width: 24px;
        height: 24px;
        padding: 3px;
        margin-left: 2px;
        margin-right: 5px;
        text-align: center;
        overflow: hidden;
        position: relative; // to allow absolute positioning of deleted icon

        .deleted-tile-indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
        }

        svg {
          width: 100%;
          height: 100%;
          fill: $charcoal;
        }

      }

    }
    .chat-thread-num {
      width: 24px;
      margin: 3px 2px 2px;
      padding: 1px 6px 2px;
      border-radius: 7.5px;
      background-color: white;
      text-align: center;
      font-size: 10px;
    }
  }
}
