@import "../vars";

.comment-card {
  width: calc(100% - 4px);
  min-height: 106px;
  margin: 2px;
  border: solid 2px $charcoal-light-2;
  &.selected {
    background-color: $comment-select-green;
  }

  .comment-card-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 4px;
    background-color: $charcoal-light-8;
    color: $charcoal;
    &.comment-select {
      background-color: $comment-select-green-dark;
    }
    &.problems {
      background-color: $problem-orange-light-7;
    }
    &.teacher-guide {
      background-color: $learninglog-green-light-7;
    }
    &.my-work {
      background-color: $workspace-teal-light-6;
    }
    &.class-work {
      background-color: $classwork-purple-light-7;
    }
    &.supports {
      background-color: $support-blue-light-7;
    }
    .new-thread-header-icon {
      fill: $charcoal;
    }
    .initial {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $charcoal;
      border-radius: 3px;
      width: 18px;
      height: 18px;
      padding: 1px 0 0;
      margin-right: 5px;
    }
  }
  .comment-thread {
    margin: 3px 0 2px 5px;
    .comment-text-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      .user-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        border-radius: 4px;
        border: solid 1px #979797;
        background-color: white;
        width: 21px;
        height: 21px;
        font-size: 14px;
        font-weight: bold;
        svg {
          width: 14px;
          height: 14px;
          fill: $problem-orange;
        }
      }
      .user-name {
        margin-left: 5px;
        font-size: 11px;
        font-weight: bold;
        color: $charcoal-dark-1;
      }
      .time-stamp {
        margin-left: 5px;
        font-size: 11px;
        font-weight: normal;
        color: $charcoal-dark-1;
      }
      .menu {
        margin-right: 8px;
        opacity: 0.35;
        height: 13px;
      }
    }
    .new-marker {
      display: flex;
      flex-direction: row;
      .new-text {
        font-size: 9px;
        font-weight: bold;
        color: $charcoal-dark-2;
        background-color: $new-comment-notice;
      }
    }
  }

  .comment-textbox {
    padding: 3px 0 0;
    border-radius: 4px;
    border: solid 1.5px $charcoal-light-4;
    background-color: white;
    margin: 5px;
    font-size: 14px;
    font-family: Lato;

    textarea {
      border-style: none;
      border-color: Transparent;
      overflow: hidden;
      resize: none;
      margin: 2px;
      width: calc(100% - 5px);
      box-sizing: border-box;
      font-size: 14px;
      font-family: Lato;

      &::placeholder {
        color: $charcoal;
        font-style: italic;
      }
    }

    .comment-textbox-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 35px;
      border-top: solid 1.5px $charcoal-light-4;

      .comment-footer-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 4px 0 0;
        width: 56px;
        height: 26px;
        border-radius: 5px;
        border: solid 1.5px $charcoal-light-1;
        &.cancel {
          background-color: white;
          color: $charcoal-dark-2;
          &:hover {
            background-color: $charcoal-light-4;
          }
          &:active {
            background-color: $charcoal-light-3;
          }
        }
      }
    }
  }
}
