<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="description" content="<%= pageDescription %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Math&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Symbols+2&display=swap" rel="stylesheet">
    <script>
      var hostPath = window.location.hostname + window.location.pathname,
          isLocalhost = /(localhost|127\.0\.0\.1)/i.test(window.location.hostname),
          isBranchOrTag = <%= branchTagRegEx %>.test(hostPath),
          isMasterBranch = <%= masterBranchRegEx %>.test(hostPath),
          isAuthed = !/appMode=(dev|demo|qa|test)/.test(window.location.search),
          isDemo = /appMode=demo/.test(window.location.search),
          isProduction = !isLocalhost && !isBranchOrTag && isAuthed;
    </script>
  </head>
  <body>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "?admin";
            });
          }
        });
      }
    </script>
  </body>
</html>
