.loading-box {
  align-items: center;
  display: flex;
  height: 650px;
  justify-content: center;
  width: 100%;
}
.custom-widget {
  border: 2px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}