.preview-link-box {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  padding: 0 10px;
  width: 100%;

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  a {
    color: blue;

    &:hover {
      color: purple;
    }
  }

  .warning {
    color: red;
  }
}