@import "../../vars";

.question-badge {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
}

.question-tile-content {
  background: white;
  width: 100%;
  position: relative;

  .question-tile-spacer {
    border-bottom: none;
    height: 40px;
    width: calc(100% - 4px);
    margin: 2px;
    margin-bottom: 0;
    background-color: #e2f4f8;
  }

  .question-tile-rows {
    width: 100%;


    .tile-row {
      width: calc(100% - 4px);

      &:first-child {
        margin-top: 0;
      }

      // The prompt element should blend in seamlessly with the spacer unless selected.
      .tool-tile.fixed {
        margin-top: 0;


        &:not(.selected) {
          border: 1px solid $workspace-teal-light-7;
          .text-tool-wrapper {
            border: 1px solid $workspace-teal-light-7;
          }
        }

        &.selected {
          .text-tool-wrapper {
            border: 1px solid $workspace-teal;
          }
        }


        .text-tool-wrapper {
          .text-tool {
            margin-top: 0;
          }
        }
      }
    }
  }
}
