@use "../vars.scss";

.annotation-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  fill: transparent;
  position: absolute;

  .annotation-layer.show-buttons &:hover {
    fill: vars.$annotation-blue-very-transparent;
    stroke: vars.$annotation-blue;
    stroke-dasharray: 2;
    stroke-width: 2px;
  }

  &.source {
    fill: rgba(0, 0, 0, 0);
    stroke: vars.$annotation-blue;
    stroke-dasharray: none;
    stroke-width: 2px;
  }
}
