@use "../vars.scss";

.arrow {
  stroke-opacity: .5;
  pointer-events: none;

  .arrow-stem {
    stroke: vars.$annotation-blue;
    stroke-width: 3;
  }

  .arrow-arrowhead {
    fill: vars.$annotation-blue;
  }

  &.background-arrow {
    .arrow-stem {
      stroke-opacity: 0;
      stroke-width: 11px;
      pointer-events: none;

      .annotation-layer.show-handles & {
        pointer-events: visibleStroke;
      }
    }

    .annotation-layer.show-handles &:hover {
      .arrow-stem {
        stroke-opacity: .125;
      }
    }

    .actual-sparrow.selected & {
      .arrow-stem {
        stroke-opacity: .25;
      }
    }
  }
}

.annotation-layer.editing {
  .arrow.background-arrow {
    pointer-events: stroke;
  }
}
