@use "../vars.sass";

.annotation-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;

  &:hover {
    fill: rgba(21, 0, 255, 0.125);
    outline: 2px dotted blue;
  }

  &.source {
    outline: 2px solid blue;
  }
}