@use "../vars.sass";

.text-region {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .text-box {
    background-color: white;
    border: 2px solid #1500ff;
    border-radius: 10px;
    max-width: calc(100% - 8px);

    &.text-display {
      color: #1500ff;

      &.default-text {
        font-style: italic;
      }

      &:hover {
        outline: 4px solid rgba(21, 0, 255, 0.125)
      }

      &.can-edit {
        &:hover {
          cursor: pointer;
        }
      }

      &.dragging {
        background-color: #1500ff;
        color: white;

        &:hover {
          outline: 4px solid rgba(21, 0, 255, 0.25);
        }
      }
    }

    &.text-input {
      background-color: #e2e0fd;
      text-align: center;
    }
  }
}

.drag-handle {
  .handle-highlight {
    fill: rgba(0, 0, 0, 0);
  }

  .handle-node {
    fill: rgba(0, 0, 0, 0);
  }

  &:hover {
    cursor: pointer;

    .handle-highlight{
      fill: rgba(21, 0, 255, 0.125);
    }

    .handle-node {
      fill: rgba(21, 0, 255, 0.5);
    }
  }

  &.dragging {
    .handle-highlight {
      fill: rgba(21, 0, 255, 0.25);
    }

    .handle-node {
      fill: rgb(21, 0, 255);
    }
  }
}