@use "../vars.sass";

.text-region {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .text-display {
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;

    &.can-edit {
      border-color: vars.$workspace-teal-light-5;
    }
  }

  .text-input {
    max-width: 100%;
  }
}