@import ../vars

.section-header
  display: flex
  flex-direction: row
  padding: 6px
  background-color: $color4
  color: $font-2-color
  &.expanded
    background-color: $color4-8
  &:hover
    background-color: $color4-9

  .icon
    height: 9px
    width: 9px
    fill: $font-2-color
    margin: 4px 6px 0 0

  .title
    width: 100%
    font-size: 12px
    text-align: left
