@import "../vars";

.simple-document-item {
  background: $classwork-purple-light-7;
  border: solid 1px #707070;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 16px;
  margin: 0;
  width: 16px;

  &:hover {
    background: $classwork-purple-light-4;
  }
  &:active {
    background: $classwork-purple-light-2;
  }
}
