@import ../vars

$list-item-height: 660px
$list-item-width: 880px
$list-item-scale: 0.11
$section-padding: 6px

.tab-panel-documents-section, .collapsible-documents-section
  display: flex
  flex-direction: column
  padding: $section-padding
  &.top-panel
    padding: 4px $section-padding 0 $section-padding

  .list
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    overflow-y: auto
    &.top-panel
      overflow-y: hidden
    &.bottom-panel
      border-top: solid 1px $charcoal-light-1
      overflow-y: hidden

    .list-item
      position: relative
      min-height: 120px
      width: 116px
      border-radius: 5px
      padding: $padding 0
      display: flex
      flex-direction: column
      align-items: center
      background-color: white
      overflow: hidden
      cursor: pointer

      .scaled-list-item-container
        border-radius: 5px
        border: solid 1.5px $charcoal-light-1
        width: $list-item-width * $list-item-scale
        height: $list-item-height * $list-item-scale
        background-color: white
        padding: 1px

        .scaled-list-item
          transform: scale(.1)
          transform-origin: 0 0
          height: $list-item-height
          width: $list-item-width
          pointer-events: none

        &.new-document-button
          position: relative

          .new-document-button-label
            position: absolute
            top: 16px
            left: -1px
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            align-items: center
            color: #C9DAB7

            label
              font-size: 10px
              color: $charcoal-dark-2
              margin-top: 8px

        .canvas

      .icon-holder
        position: absolute
        top: 12px
        right: 14px
        cursor: pointer
        .icon-star
          height: 24px
          width: 24px
          fill: $charcoal-light-1
          opacity: .25
          &.starred
            opacity: .75
            fill: $problem-orange
        &:hover .icon-star
          opacity: .25
          fill: $problem-orange
        &:active .icon-star
          opacity: .75
          fill: $problem-orange
        &:active .icon-star.starred
          opacity: .25
          fill: $charcoal-light-1

      .info
        margin-top: $half-margin
        text-align: center
        font-size: 10px
        width: 90px

      .footer
        display: flex
        align-items: center
        justify-content: center

        .icon-delete-document
          height: 16px
          width: 16px
          fill: #808080
        .icon-delete-document:hover
          fill: #f00

  &.personal-documents
    .new-document-button-label
      svg path
        fill: $workspace-teal-dark-1

  &.learning-logs
    .new-document-button-label
      svg path
        fill: $learninglog-green-dark-1

  .my-work > .list-item
    &:hover
      background-color: $workspace-teal-light-7
    &:active, &.selected
      background-color: $workspace-teal-light-5
  .class-work > .list-item
    &:hover
      background-color: $classwork-purple-light-8
    &:active, &.selected
      background-color: $classwork-purple-light-6
  .supports > .list-item
    &:hover
      background-color: $support-blue-light-8
    &:active, &.selected
      background-color: $support-blue-light-6
