@import "../../../components/vars.sass";

$modal-control-border: solid 1.5px $charcoal-light-1;
$modal-control-border-radius: 5px;

.custom-modal.set-expression {
  width: 512px;
  outline: none;

  .modal-content {
    justify-content: flex-start;

    .prompt {
      select {
        margin: 0 3px;
        padding: 0 3px;
        font-weight: bold;
      }

      .attr-name {
        font-weight: bold;

        &.y {
          margin: 0 3px;
        }

        &.x {
          margin-left: 3px;
        }
      }
    }

    .expression {
      margin-top: 20px;
      height: 30px;
      display: flex;
      align-items: center;

      label {
        display: inline-block;
        flex: 0 0 auto;

        .equals {
          margin: 0 6px 0 3px;
        }
      }
      .formula-editor-input {
        flex: 1 1 auto;
        border: $modal-control-border;
        border-radius: $modal-control-border-radius;
        padding: 1px;

        &:focus-within {
          // This is a hack to get the focus outline to show up.
          // Code Mirror applies its own cm-focused style which adds a
          // a dotted outline. The browser seems to not apply the
          // :focus-active style to the Code Mirror element. It part of
          // of the focus ring though because it can be tabbed to.
          outline: #1976d2 auto 1px;
        }
      }
    }

    .error {
      margin-top: 15px;
    }
  }
}
