@import "../../vars.sass";
@import "../../../models/tiles/table-links";

$table-padding: 10px;
$row-height: 34px;
$index-column-width: 34px;
$index-column-with-label-width: $index-column-width + 7px;
$controls-column-width: 36px;
$platform-scrollbar-width: 16px;
$header-color: $workspace-teal-light-5;
$header-input-color: #ffffff;
$border-style: 1px solid $charcoal-light-1;
$border-input-style: 1px solid #dadada;
$border-radius: 3px;
$controls-hover-background: #c0dfe7;

.table-tool {
  position: relative;
  height: 100%;
  padding: $table-padding;

  .table-grid-container {
    position: relative;
    height: 100%;

    .table-title {
      margin-left: $index-column-width - 1px;
      max-width: calc(100% - #{$index-column-width} + #{$table-padding});
      height: $row-height;
      color: $charcoal-dark-2;
      background-color: $workspace-teal-light-7;
      border-left: $border-style;
      border-top: $border-style;
      border-right: $border-style;
      border-radius: $border-radius $border-radius 0 0;
      font-weight: bold;
      padding: 8px;
      position: relative;
      &.show-row-labels {
        margin-left: $index-column-with-label-width - 1px;
      }

      &.table-title-default {
        font-style: italic;
      }

      &.table-title-editing {
        padding: 0;

        input {
          text-align: center;
          border: solid 1.5px $charcoal-light-1;
          background: $header-input-color;

          &:focus {
            border: solid 2px $highlight-blue;
          }
        }
      }

      .link-tile-button {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        border: solid 1.5px $charcoal-light-1;
        background-color: $workspace-teal-light-9;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 35%;
        }

        &:hover:not(.disabled) {
          background-color: $workspace-teal-light-4;
        }

        &:active:not(.disabled) {
          background-color: $workspace-teal-light-2;
        }
      }
    }
  }

  .rdg {
    --color: #{$charcoal-dark-2};
    --border-color: #{$charcoal-light-1};
    --header-background-color: #{$header-color};
    --header-selected-background-color: #{$highlight-blue-50};
    --row-selected-background-color: #{$highlight-blue-25};
    --selection-color: #{$highlight-blue};

    width: calc(var(--row-width) + #{$platform-scrollbar-width});
    max-width: calc(100% + #{$table-padding});
    height: calc(100% - #{$row-height});
    border: none;
    overflow: auto !important;
    position: relative;

    &.show-expressions {
      .index-column-header {
        .show-hide-row-labels-button {
          top: $row-height;
        }
      }
    }

    .rdg-header-row {
      .index-column-header {
        min-width: $index-column-width;
        padding: 0;
        border-left: $border-style;
        border-top-left-radius: $border-radius;
        .show-hide-row-labels-button {
          width: $index-column-width;
          height: $row-height;
          position: relative;
          .hide-row-labels-icon, .show-row-labels-icon {
            position: absolute;
            left: 4px;
            top: 4px;
          }
          &.shown {
            .hide-row-labels-icon { opacity: 35% }
            .show-row-labels-icon { opacity: 0% }
          }
          &.hidden {
            .hide-row-labels-icon { opacity: 0% }
            .show-row-labels-icon { opacity: 35% }
          }
          &:hover {
            &.shown {
              .hide-row-labels-icon { opacity: 0% }
              .show-row-labels-icon { opacity: 100% }
            }
            &.hidden {
              .hide-row-labels-icon { opacity: 100% }
              .show-row-labels-icon { opacity: 0% }
            }
          }
        }
      }
      .rdg-cell {
        border-top: $border-style;
        &.highlighted-column {
          background-color: $highlight-blue-20;
          &.linked {
            background-color: $highlight-linked-header;
          }
        }
        &.selected-column {
          background-color: $highlight-unlinked-header;

          &.linked {
            background-color: $highlight-linked-header;
          }
        }
        &.rdg-cell-editing {
          padding: 0;
        }
        input {
          background-color: $header-input-color;
        }
      }
      .controls-column-header {
        background-color: white;
        border: none;
        padding: 0;
        .add-column-button {
          width: $controls-column-width;
          height: $row-height;
          display: none;  // overridden when tile is selected
          justify-content: center;
          align-items: center;
          svg {
            fill: white;
            stroke: $workspace-teal-light-3;
          }
          &:hover {
            svg {
              fill: $workspace-teal-light-4;
              stroke: $workspace-teal-dark-1;
            }
          }
          &:active {
            svg {
              fill: $workspace-teal-dark-1;
              stroke: white;
            }
          }
        }
      }
    }
    .rdg-row {
      .rdg-cell {
        box-shadow: none;
      }

      &.rdg-row-selected {
        .index-column {
          background-color: $highlight-unlinked-header;

          &.linked {
            background-color: $highlight-linked-header;
          }
        }
        .has-expression {
          background-color: var(--row-selected-background-color);
        }
        &.input-row {
          .index-column {
            background-color: $highlight-blue-50-35;
          }
        }
      }

      &.highlighted {
        .rdg-cell {
          background-color: $highlight-unlinked-cell;

          &.controls-column {
            background-color: white;
          }

          &.index-column {
            background-color: $highlight-unlinked-header;
          }
        }

        &.linked {
          .rdg-cell {
            background-color: $highlight-linked-cell;

            &.controls-column {
              background-color: white;
            }

            &.index-column {
              background-color: $highlight-linked-header;
            }
          }
        }
      }
      &.input-row {
        .index-column {
          background-color: $header-input-color;
          border-left: $border-input-style;
        }
        .rdg-cell {
          border-right: $border-input-style;
          border-bottom: $border-input-style;
        }
        .controls-column {
          border: none;
        }
      }
      .index-column {
        border-left: $border-style;
      }
      .controls-column {
        background-color: white;
        border: none;
        box-shadow: none;
        padding: 0;
        .remove-row-button {
          width: $controls-column-width;
          display: none;  // overridden when tile is selected
          justify-content: center;
          align-items: center;
          svg {
            fill: white;
            stroke: $highlight-blue;
          }
          &:hover {
            svg {
              fill: $highlight-blue-25;
              stroke: $highlight-blue;
            }
          }
          &:active {
            svg {
              fill: $highlight-blue;
              stroke: white;
            }
          }
        }
      }
      &:hover {
        background-color: rgba(0, 129, 255, 0.12);
      }
    }
    .index-column {
      min-width: $index-column-width;
      padding: 0;
      background-color: var(--header-background-color);
      font-weight: bold;
      font-style: italic;
      .index-cell-wrapper {
        width: 100%;
        height: 100%;
        .index-cell-contents {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: grab;
          .row-drag-icon {
            position: absolute;
            top: 1.5px;
            left: 0px;
            opacity: 0;
          }
          .row-index-label {
            position: absolute;
            right: 5px;
            min-width: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
        &:hover {
          background-color: rgba(0, 129, 255, 0.20);
          .index-cell-contents {
            position: relative;
            .row-drag-icon {
              opacity: 0.35;
            }
          }
        }
        &:active {
          background-color: rgba(0, 129, 255, 0.40);
          opacity: 1;
        }
      }
    }
    .rdg-cell {
      padding: 0;
      input {
        text-align: center;
      }

      &.has-expression {
        background-color: $charcoal-light-5;
      }
      &.hovered-column {
        background-color: $highlight-blue-20;

        &.linked {
          background-color: $highlight-linked-cell;
        }
      }
      &.controls-column {
        background-color: white;
        border: none;
        box-shadow: none;
        padding: 0;
      }
      &.selected-column {
        background-color: $highlight-unlinked-cell;

        &.linked {
          background-color: $highlight-linked-cell;
        }
      }
      &.rdg-cell-resizable {
        padding: 0;
      }
    }
  }
}

.tool-tile.selected {
  .table-tool {
    .add-column-button, .remove-row-button {
      // show buttons only when tile is selected
      display: flex !important;
    }
  }
}

.rdg-text-editor {
  border: none;
  box-shadow: inset 0 0 0 3px $highlight-unlinked-edit;
  overflow: hidden;
  padding: 2px;
  resize: none;

  &.linked {
    box-shadow: inset 0 0 0 3px $highlight-linked-edit;
  }
}

.drag-overlay-row {
  display: flex;
  align-items: stretch;
  background: $header-input-color; // or white, to match your grid
  border: 1px solid $charcoal-light-1;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  border-radius: 4px;
  pointer-events: none;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  opacity: 0.75;
  pointer-events: none;

  .drag-overlay-cell {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-weight: inherit;
    border-right: 1px solid $charcoal-light-1;
    background-color: rgba(0, 129, 255, 0.25);
    position: relative;

    &:first-child {
      border-left: none;
      width: $index-column-width;
      background-color: rgba(0, 129, 255, 0.40);
      display: flex;
      flex-direction: row;
      align-items: center;

      .row-drag-icon {
        position: absolute;
        opacity: 1;
      }

      .row-index-label {
        position: absolute;
        right: 5px;
        min-width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

.row-divider {
  background-color: $color7;
  visibility: hidden;
  position: absolute;
  z-index: 10;
}
.row-divider.over {
  visibility: visible;
  opacity: 0.75;
}

// .link-color-0 > .ag-theme-fresh .ag-row-selected
//   background-color: $link-color-0-light

// .link-color-1 > .ag-theme-fresh .ag-row-selected
//   background-color: $link-color-1-light

// .link-color-2 > .ag-theme-fresh .ag-row-selected
//   background-color: $link-color-2-light

// .link-color-3 > .ag-theme-fresh .ag-row-selected
//   background-color: $link-color-3-light

// .link-color-4 > .ag-theme-fresh .ag-row-selected
//   background-color: $link-color-4-light

// .link-color-5 > .ag-theme-fresh .ag-row-selected
//   background-color: $link-color-5-light
