# Local storage for Firebase Emulator Suite
emulator-data/*
!emulator-data/.gitkeep

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
