@import "../vars";

$badge-height: 18px;
$badge-gap: 2px;

.tile-activity-badges {
  position: absolute;
  top: -1px;
  right: -1px;
  display: flex;
  gap: $badge-gap;
  z-index: 50;
  pointer-events: auto;
  transition: right 0.2s;

  &.drag-handle-visible {
    right: $drag-handle-hit-size;
  }

  .badge {
    align-items: center;
    border: 1px solid $connected-green-dark;
    border-radius: 2px;
    background-color: #8cff8c;
    color: $charcoal-dark-2;
    display: flex;
    font-size: 12px;
    gap: 3px;
    height: $badge-height;
    justify-content: center;
    line-height: $badge-height;
    padding: 0 4px;
    text-align: center;

    .user-icon {
      filter: invert(29%) sepia(39%) saturate(5278%) hue-rotate(173deg) brightness(92%) contrast(97%);
      height: 10px;
      width: 10px;
    }
  }
}
