@import "../vars";

.tool-tile {
  // create z-index stacking context ("what happens in tool tiles, stays in tool tiles")
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  flex: 1 1 auto;
  border: 1px solid #ccc;

  .tile-content {
    border: 1px solid white;
  }

  &.readonly, &.readonly.hovered {
    border: 1px solid $tool-tile-readonly-border-color;
    .tile-content {
      border: 1px solid $tool-tile-readonly-border-color;
    }
  }

   &:focus:not(:focus-visible) {
    outline: none;
  }

  &.hovered {
    border: 1px solid $tool-tile-hover-border-color;
    .tile-content.hovered {
      border: 1px solid $tool-tile-hover-border-color;
    }
  }

  &.selected {
    border: 1px solid $workspace-teal;
    .tile-content.selected {
      border: 1px solid $workspace-teal;
    }
  }

  // Visual indicator when tile is in focus trap (edit mode)
  &.tile-focus-trapped {
    box-shadow: inset 0 0 0 2px rgba($focus-ring-color, 0.2);
  }

  &.annotatable {
    border: 1px solid $annotation-blue;
    .tile-content {
      border: 1px solid $annotation-blue;
    }
  }

  &.selected-for-comment.readonly {
    background-color: $comment-select-background;
  }

  .tool-tile-drag-handle {
    position: absolute;
    right: -1px;
    top: -1px;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    z-index: 99;
    opacity: 0;
    transition: 0.3s;

    &.hovered {
      opacity: 0.5;
    }

    &:hover {
      cursor: grab;
      opacity: 1;
    }

    &.selected {
      opacity: 1;
    }

  }

  .tool-tile-resize-handle {
    position: absolute;
    right: -1px;
    bottom: -1px;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;

    &.hovered {
      opacity: 0.5;
    }

    &:hover {
      cursor: row-resize;
      opacity: 1;
    }

    &.selected {
      opacity: 1;
    }

  }
}

// Only show the teacher styling when the tile is inside of the
// problem panel or when it is inside of the CMS (iframe-control)
.problem-panel, .iframe-control {
  .tool-tile {
    &.readonly {
      border: 1px solid white;

      .tile-content {
        border: 1px solid white;
      }

      &.hovered {
        border: 1px solid rgba(191, 191, 191, 0.5);
        .tile-content.hovered {
          border: 1px solid rgba(191, 191, 191, 0.5);
        }
      }

      &.selected {
        border: 1px solid $charcoal-light-2;
        .tile-content.selected {
          border: 1px solid $charcoal-light-2;
        }
      }
    }

    &.teacher {
      background-color: $learninglog-green-light-8;
      margin: 5px 0 10px 20px;
      padding: 10px;
      border-left: $half-border-width solid $learninglog-green;
      border-right: 0;
      border-top: 0;
      border-bottom: 0;

      .tile-content {
        border: 0;
        background-color: $learninglog-green-light-8;
      }
    }
  }
}
