
.title-area-wrapper {
  display: flex;
  justify-content: center;

  .title-area {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;  // has to be higher than JSXGraph entities that should be below it
  }
}
