@import ../vars

.image-tool
  margin: 3px
  text-align: left
  padding-left: 3px
  padding-top: 3px

  &.editable
    border: 1px solid #cccccc

  .image-url
    position: absolute
    top: 10px
    left: 10px
    visibility: hidden
    width: 90%

    &.selected
      visibility: visible

  .image-file
    position: absolute
    top: 30px
    left: 10px
    visibility: hidden
    width: 90%

    &.selected
      visibility: visible

  .image-file-upload
    position: absolute
    top: 50px
    left: 10px
    visibility: hidden
    width: 60px

    &.selected
      visibility: visible
