@import ../vars

.tool-tile
  // create z-index stacking context ("what happens in tool tiles, stays in tool tiles")
  position: relative
  z-index: 0
  width: 100%
  min-height: 18px
  border: $half-border-width solid white

  &.selected
    border: $half-border-width solid pink
