.placeholder-tool
  width: 100%
  height: 50px
  min-height: 50px
  background-color: white
  font-style: italic
  display: flex
  align-items: center
  justify-content: center
  color: #cacaca
  border-color: #cacaca
  border-style: dashed
  border-width: 2px
