@import "../vars";

.demo {
  label {
    font-weight: bold;
    width: 75px;
    display: inline-block;
    text-align: right;
  }

  select, input {
    margin: $half-margin 0;
    padding: $half-padding;
  }

  h2 {
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin: $half-margin 0;
      text-transform: capitalize;
    }
  }
}
