@import "../vars.sass";

.divider-container {
  z-index: 1;
  position: relative;
  margin-right: 2px;
  margin-left: 2px;
  transition-duration: .5s;

  .resize-panel-divider {
    height: 100%;
    padding-top: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.divider-min {
      align-items: flex-start;
    }
    &.divider-max {
      align-items: flex-end;
    }

    .divider {
      width: 4px;
      height: 100%;
      border-radius: 2px;
      background-color: $charcoal-light-4;
      z-index: 1;
      cursor: col-resize;
    }

    .drag-thumbnail {
      position: absolute;
      z-index: 1;
      margin-top: 9px;
      align-items: center;
      background-color: white;
    }
  }
  .expand-handles-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

    .expand-handle {
      width: 38px;
      padding: 2px;
      box-sizing: border-box;
      border-style: solid;
      display: flex;
      border: solid $charcoal;
      background-color: $charcoal-light-6;

      &.left {
        border-radius: 8px 0 0 0;
        border-width: 2px 1px 2px 2px;
      }
      &.right {
        border-radius: 0 8px 0 0;
        border-width: 2px 2px 2px 1px;
      }
      &:hover {
        background-color: $charcoal-light-4;
      }
      &:active {
        background-color: $charcoal-light-3;
      }
      .expand-indicator {
        align-self: center;
        justify-self: center;
        &.left {
          transform: rotate(180deg);
        }
      }
    }
  }
}
