@import "../vars";

.divider-container {
  display: flex;
  z-index: 1;
  position: relative;
  transition-duration: .5s;

  &.divider-position-0 {
    margin-right: 2px;
  }

  &.divider-position-50 {
    // padding is used instead of margin to increase the clickable area
    padding-right: 2px;
    padding-left: 2px;
    cursor: col-resize;

    &.show-expanders {
      cursor: default;
    }
  }

  &.divider-position-100 {
    margin-left: 2px;
  }

  // Hide the divider when the expanders are shown
  // this is done with a width of 0 so it is animated.
  &.show-expanders .resize-panel-divider {
    width: 0;
    padding: 0;
    // With a flex display the children of the divider were still shown
    display: block;
  }

  .resize-panel-divider {
    height: 100%;
    // Need to set an explicit width so it can be animated
    width: 4px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.25s;
    // When width is zero don't let divider show
    overflow: clip;

    &.divider-min {
      align-items: flex-start;
    }
    &.divider-max {
      align-items: flex-end;
    }

    .divider {
      width: 4px;
      height: 100%;
      border-radius: 2px;
      background-color: $charcoal-light-4;
      z-index: 1;
    }

    .drag-thumbnail {
      position: absolute;
      z-index: 1;
      margin-top: 9px;
      align-items: center;
      background-color: white;
    }
  }
}
