@import "../vars";

.resources-expander {
  position: relative; // so we can center elements
  width: 38px;
  padding: 2px;
  border-radius: 0 8px 0 0;
  box-sizing: border-box;
  border-style: solid;
  z-index: 2;

  // Styling when in the center
  border-width: 2px 2px 2px 1px;
  border-color: $charcoal;
  background-color: $charcoal-light-6;
  &:hover {
    background-color: $charcoal-light-4;
  }
  &:active {
    background-color: $charcoal-light-3;
  }

  &.problems {
    // common left side stuff
    border-width: 2px;
    margin-right: 4px;
    .resources-expander-label {
      opacity: 1;
    }

    border-color: $problem-orange;
    background-color: $problem-orange-light-4;
    &:hover {
      background-color: $problem-orange-light-3;
    }
    &:active {
      background-color: $problem-orange-light-2;
    }
  }
  &.teacher-guide {
    // common left side stuff
    border-width: 2px;
    margin-right: 4px;
    .resources-expander-label {
      opacity: 1;
    }

    border-color: $learninglog-green;
    background-color: $learninglog-green-light-5;
    &:hover {
      background-color: $learninglog-green-light-3;
    }
    &:active {
      background-color: $learninglog-green-light-2;
    }
  }
  &.student-work {
    // common left side stuff
    border-width: 2px;
    margin-right: 4px;
    .resources-expander-label {
      opacity: 1;
    }

    border-color: $charcoal;
    background-color: $charcoal-light-3;
    &:hover {
      background-color: $charcoal-light-2;
    }
    &:active {
      background-color: $charcoal-light-1-b;
    }
  }
  &.my-work {
    // common left side stuff
    border-width: 2px;
    margin-right: 4px;
    .resources-expander-label {
      opacity: 1;
    }

    border-color: $workspace-teal;
    background-color: $workspace-teal-light-3;
    &:hover {
      background-color: $workspace-teal-light-2;
    }
    &:active {
      background-color: $workspace-teal-light-1-b;
    }
  }
  &.class-work {
    // common left side stuff
    border-width: 2px;
    margin-right: 4px;
    .resources-expander-label {
      opacity: 1;
    }

    border-color: $classwork-purple;
    background-color: $classwork-purple-light-4;
    &:hover {
      background-color: $classwork-purple-light-3;
    }
    &:active {
      background-color: $classwork-purple-light-2;
    }
  }
  &.supports {
    // common left side stuff
    border-width: 2px;
    margin-right: 4px;
    .resources-expander-label {
      opacity: 1;
    }

    border-color: $support-blue;
    background-color: $support-blue-light-4;
    &:hover {
      background-color: $support-blue-light-3;
    }
    &:active {
      background-color: $support-blue-light-2;
    }
  }

  .resources-expander-label {
    // hidden in the middle
    opacity: 0;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 14px;
    margin: 20px 7px;
    height: max-content;
  }
  .expand-left-indicator {
    position: absolute;
    // Offset the icon by half its height 34px
    top: calc(50% - 17px);
  }
}
