@import "../../components/vars";

.workspace {
  display: flex;
  flex-direction: row;

  // Take up the remaining space after the header in .clue-app-content
  flex: 1;

  // Don't take more than the height available in the container
  min-height: 0;
  margin: 4px;

  > section {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;

    &:has(.collapsed) {
      flex: 0;
    }
  }

  h2.section-heading {
    align-items: center;
    background: $problem-orange-light-7;
    border-top-right-radius: 8px;
    display: flex;
    font-size: 13px;
    font-weight: 900;
    height: 34px;
    justify-content: center;
    line-height: 1;
    margin: 0 0 2px;
    padding: 0;
    text-align: center;

    &.workspace-heading {
      background: $workspace-teal-light-4;
      border-top-left-radius: 8px;
      border-top-right-radius: 0;
    }
  }

  .drag-handler {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
