@import "../../components/vars";

.workspace {
  display: flex;
  flex-direction: row;

  // Take up the remaining space after the header in .clue-app-content
  flex: 1;

  // Don't take more than the height available in the container
  min-height: 0;
  margin: 4px;

  .drag-handler {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
