
.axis-settings-container {
  margin-top: 15px;
  margin-bottom: 0px;

  .axis-title {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .axis-options {
    display: flex;

    .axis-option {
      display: flex;
      flex-direction: column;
    }
  }
}

.axis-settings-label {
  padding: 1em;
  font-size: 12pt;
  padding: .5em;
}

.input-margin {
  margin: 0 .5em;
}
