.axis-settings-dialog
  &.bp3-dialog
    width: 600px

  .nc-attribute-name-prompt
    .axis-prompt
      font-weight: bold
      &.x-axis
        margin-left: 120px

      &.y-axis
        margin-left: 150px

    .annotation-prompt
      margin-right: 5px

    .min-prompt
      margin-right: 15px

    .max-prompt
      margin-right: 13px
