@import ../../vars

$toolbar-width: 44px

.geometry-tool
  position: relative
  width: 100%
  height: 100%
  min-height: 52px

  .geometry-wrapper
    position: absolute
    height: 100%
    left: 0
    right: 0

    &.read-only
      left: 0

    .geometry-size-me
      height: 100%

      .geometry-content
        height: 100%
        outline: none

        .comment
          min-width: 30px
          max-width: 250px
          background-color: #009CDC
          border: 1px black solid
          border-radius: 5px
          padding: 3px
          cursor: pointer

          &.selected
            background-color: red

.rotate-polygon-icon
  background-image: url("../../../assets/rotate.png")
  position: absolute
  width: 16px
  height: 16px
  z-index: 10
  display: none

  &.enabled
    display: block
