@import "../../vars.sass";

.geometry-title {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $charcoal-dark-2;
  background-color: white;
  border: 1.5px solid $charcoal-light-1;
  border-radius: 5px;
  text-align: center;

  input {
    text-align: center;
  }

  .geometry-title-text {
    font-style: italic;
  }
}
