@import "../vars";

.tile-toolbar {

  height: $toolbar-height;
  border: $toolbar-border;
  border-radius: 0 0 $toolbar-border-radius $toolbar-border-radius;
  background-color: $workspace-teal-light-9;
  // do we need a 'buttons' container at this level?
  display: flex;
  font-size: 24px;
  text-align: center;

  &.disabled {
    display: none;
  }

  div:first-child {
    button {
      border-bottom-left-radius: 3px;
    }
  }
  div:last-child {
    button {
      border-bottom-right-radius: 3px;
    }
  }

  button {
    display: block;
    border: none;
    user-select: none;
    width: $toolbar-button-width;
    height: $toolbar-button-height;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    cursor: pointer;
    
    &.selected {
      background-color: $workspace-teal-light-4;  
    }
    
    &:hover {
      background-color: $workspace-teal-light-6;
    }
  
    &:active {
      background-color: $workspace-teal-light-4;
  
      &.button-select {
        svg path {
          fill: $workspace-teal-dark-1;
        }
      }
    }

    // Inputs inside a button (eg, for image upload)
    // are sized to be the size of the button.
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: $toolbar-button-width;
      height: $toolbar-button-height;
    }
  }

}
