@import "../vars";

.tile-toolbar {
  height: $toolbar-height;
  border: $toolbar-border;
  border-radius: $toolbar-border-radius;
  background-color: $workspace-teal-light-9;
  display: flex;
  text-align: center;
  z-index: 1;

  &.disabled {
    display: none;
  }

  &.bottom-start {
    border-top-left-radius: 0;

    div:first-child {
      button {
        // Border radius reduced by width of toolbar border, so it nests nicely
        border-bottom-left-radius: calc($toolbar-border-radius - 2px);
      }
    }
    div:last-child {
      button {
        border-radius: 0 calc($toolbar-border-radius - 2px) calc($toolbar-border-radius - 2px) 0;
      }
    }
  }

  &.bottom-end {
    border-top-right-radius: 0;

    div:first-child {
      button {
        border-bottom-left-radius: calc($toolbar-border-radius - 2px);
      }
    }
    div:last-child {
      button {
        border-radius: 0 calc($toolbar-border-radius - 2px) calc($toolbar-border-radius - 2px) 0;
      }
    }
  }

  &.top-start {
    border-bottom-left-radius: 0;

    div:first-child {
      button {
        border-top-left-radius: calc($toolbar-border-radius - 2px);
      }
    }
    div:last-child {
      button {
        border-radius: 0 calc($toolbar-border-radius - 2px) calc($toolbar-border-radius - 2px) 0;
      }
    }
  }

  &.top-end {
    border-bottom-right-radius: 0;

    div:first-child {
      button {
        border-radius: calc($toolbar-border-radius - 2px) 0 0 calc($toolbar-border-radius - 2px);
      }
    }
    div:last-child {
      button {
        border-top-right-radius: calc($toolbar-border-radius - 2px);
      }
    }
  }

  div:first-child {
    button {
      margin-left: 0;
    }
  }

  div.divider {
    margin-left: 1px;
    border-left: dotted 1px $workspace-teal;
    height: 100%;
    width: 0px;
  }

  button {
    display: block;
    border: none;
    user-select: none;
    width: $toolbar-button-width;
    height: $toolbar-button-height;
    margin-left: 1px;
    padding: 0;
    background-color: $workspace-teal-light-9;
    cursor: pointer;

    &:hover:not(:disabled):not(.selected) {
      background-color: $workspace-teal-light-6;
    }

    &:disabled {
      opacity: 25%;
      cursor: default;
    }

    &.selected {
      background-color: $workspace-teal-light-4;
    }

    // Inputs inside a button (eg, for image upload)
    // are sized to be the size of the button.
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: $toolbar-button-width;
      height: $toolbar-button-height;
    }
  }

}
