@import "../vars";

.tile-toolbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;

  &.disabled {
    display: none;
  }

  // The second row goes above the toolbar when the toolbar is above the tile.
  &.top-start,
  &.top-end {
    flex-direction: column-reverse;
  }

  // When "end" aligned, match the right sides.
  &.top-end,
  &.bottom-end {
    align-items: flex-end;

    .toolbar-row {
      align-self: flex-end;
    }
  }
}

.toolbar-row {
  height: $toolbar-height;
  border: $toolbar-border;
  border-radius: $toolbar-border-radius;
  background-color: $workspace-teal-light-9;
  display: flex;
  text-align: center;
  align-self: flex-start;

  div.divider {
    margin-left: $toolbar-button-margin;
    border-left: dotted $toolbar-divider-width $workspace-teal;
    height: 100%;
    width: 0px;
  }

  div:first-child {
    button {
      margin-left: 0;
    }
  }

  button {
    display: block;
    border: none;
    user-select: none;
    width: $toolbar-button-width;
    height: $toolbar-button-height;
    margin-left: $toolbar-button-margin;
    padding: 0;
    background-color: $workspace-teal-light-9;
    cursor: pointer;

    &:hover:not(:disabled):not(.selected) {
      background-color: $workspace-teal-light-6;
    }

    &:disabled {
      opacity: 25%;
      cursor: default;
    }

    &.selected {
      background-color: $workspace-teal-light-4;
    }

    // Inputs inside a button (eg, for image upload)
    // are sized to be the size of the button.
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: $toolbar-button-width;
      height: $toolbar-button-height;
    }
  }
}

// Second row is offset to the right and up
.toolbar-row + .toolbar-row {
  margin-left: 2px;
  margin-top: -1px;
}

// Except in "end" position the offset is from the right
.tile-toolbar.top-end > .toolbar-row + .toolbar-row,
.tile-toolbar.bottom-end > .toolbar-row + .toolbar-row {
  margin-left: 0;
  margin-right: 2px;
}

// And in "top" positions the vertical offset is down
.tile-toolbar.top-start > .toolbar-row + .toolbar-row,
.tile-toolbar.top-end > .toolbar-row + .toolbar-row {
  margin-top: 0;
  margin-bottom: -1px;
}

// The corner where the toolbar is attached is not rounded.
.tile-toolbar.bottom-start > .toolbar-row {
  border-top-left-radius: 0;

  div:first-child {
    button {
      // Border radius reduced by width of toolbar border, so it nests nicely
      border-bottom-left-radius: calc($toolbar-border-radius - 2px);
    }
  }
  div:last-child {
    button {
      border-radius: 0 calc($toolbar-border-radius - 2px) calc($toolbar-border-radius - 2px) 0;
    }
  }
}

.tile-toolbar.bottom-end > .toolbar-row {
  border-top-right-radius: 0;

  div:first-child {
    button {
      border-bottom-left-radius: calc($toolbar-border-radius - 2px);
    }
  }
  div:last-child {
    button {
      border-radius: 0 calc($toolbar-border-radius - 2px) calc($toolbar-border-radius - 2px) 0;
    }
  }
}

.tile-toolbar.top-start > .toolbar-row {
  border-bottom-left-radius: 0;

  div:first-child {
    button {
      border-top-left-radius: calc($toolbar-border-radius - 2px);
    }
  }
  div:last-child {
    button {
      border-radius: 0 calc($toolbar-border-radius - 2px) calc($toolbar-border-radius - 2px) 0;
    }
  }
}

.tile-toolbar.top-end > .toolbar-row {
  border-bottom-right-radius: 0;

  div:first-child {
    button {
      border-radius: calc($toolbar-border-radius - 2px) 0 0 calc($toolbar-border-radius - 2px);
    }
  }
  div:last-child {
    button {
      border-top-right-radius: calc($toolbar-border-radius - 2px);
    }
  }
}

// Keyboard focus styling for text tile toolbar buttons (CLUE-383)
.tile-toolbar.text-toolbar .toolbar-row button:focus-visible {
  background-color: $workspace-teal-light-6;
  box-shadow:
    inset 0 0 0 3px white,
    inset 0 0 0 5px rgb(9, 87, 208);
}

.tile-toolbar.text-toolbar .toolbar-row button.selected:focus-visible {
  background-color: $workspace-teal-light-4;
  box-shadow:
    inset 0 0 0 3px white,
    inset 0 0 0 5px rgb(9, 87, 208);
}
