@import ../../components/vars

.flow-tool
  width: 500px
  height: 500px
  background: white

  svg
    width: 1px
    height: 1px
    position: absolute
    z-index: -1

// Connections are offset without this for some reason
.flow-tool > div > div
    position: absolute

.editor-container
  display: flex
  flex-direction: row
