$gray-light: #eeeeee
$gray-mid: #bcbcbc
$gray-mid-hover: #dddddd
$gray-text: #242424

$sensor-blue: #1c5bdc
$number-blue: #0084de
$generator-blue: #2fa7ec
$math-green: #218e35
$logic-green: #40ae0d
$transform-green: #8abf00
$relay-orange: #ed6a08
$data-storage-orange: #f99809