.open-program
  width: 132px !important
  height: 28px !important
  border: none !important
  outline: none !important
  background-color: white !important
  background-size: contain
  background-repeat: no-repeat
  background-image: url("../../assets/dataflow/open-program-default.png")
  &:hover
    background-image: url("../../assets/dataflow/open-program-hover.png")
  &:active
    background-image: url("../../assets/dataflow/open-program-active.png")
