@import ../../components/vars

.program-editor-topbar
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  width: 100%
  flex: 0 0 $dataflow-topbar-height
  background-color: $color3-4