@import ../../components/vars

.flow-tool
  background: white
  width: 100%
  height: 436px

  svg
    width: 1px
    height: 1px
    position: absolute
    z-index: -1

// Connections are offset without this for some reason
.flow-tool > div > div
    position: absolute

.program-editor-container
  display: flex
  flex-direction: row
  width: 100%
  height: 100%

  .horizontal-container
    display: flex
    flex-direction: row
    width: 100%
    height: 100%

  .vertical-container
    display: flex
    flex-direction: column
    width: 100%

  .side-by-side
    width: 50%
  .full
    width: 100%