@import ../../components/vars

$toolbar-width: 90px

.program-toolbar
  flex: 0 0 $toolbar-width
  display: flex
  flex-direction: column
  border: solid 2px white
  border-radius: 0 $half-border-radius 0 0
  background-color: $color3-4