@import ../vars

.program-graph
  height: 100%
  width: 50%
  padding: 5px 5px 25px 5px
  border: 2px solid $data-storage-orange
  position: relative

  &.full
    width: 100%

  .graph-loading
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    width: 100%
    background-image: url("../../assets/Spinner-1s-200px.svg")
    background-repeat: no-repeat
    background-size: 20%
    background-position-x: 50%

  .stacked-graph-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    width: 100%

    .stacked-graph
      flex: 1
      width: 100%
      margin: 5px
      min-height: 75px

  .overlapped-graph-container
    height: 100%
    width: 100%

  .graph-buttons
    position: absolute
    bottom: 6px
    display: flex
    flex-direction: row
    width: 100%
    padding-right: 10px
  .graph-button
    margin-left: 2px
    font-family: 'Ubuntu', sans-serif
    min-width: 60px
    background-color: $data-storage-orange
    color: white
    font-size: 12px
    font-style: normal
    height: 24px
    border: 0
    outline: 0
    border-radius: 3px
    &.program.split
      position: absolute
      left: -100%
    &.data
      margin-left: auto
    &:hover
      background-color: $data-storage-orange-node
    &:active
      background-color: $data-storage-orange-control
    &.export
      border: 2px solid $gray-mid
      color: $gray-text
      background-color: #ffffff
      &.wide
        margin-left: calc(50% - 100px)
      &:hover
        background-color: $gray-light-hover
      &:active
        background-color: $gray-light-click


