@import ../../components/vars

$toolbar-width: 90px

.program-toolbar
  display: flex
  flex-direction: column
  position: absolute
  width: $toolbar-width
  height: 100%
  border: solid 2px white
  border-radius: 0 $half-border-radius 0 0
  background-color: $color3-4