@import ../../components/vars

.flow-tool
  width: 500px
  height: 500px
  background: white

  .node .control input, .node .input-control input
    width: 140px

  .node
    &.sensor, &.number, &.generator
      background-color: #0592AF
      border-color: #C0E4EB
      &.selected
        border-color: $color2-4
    &.logic, &.math, &.transform
      background-color: #2DA343
      border-color: #CDE8D2
      &.selected
        border-color: $color2-4
    &.relay, &.data-storage
      background-color: #E16D2F
      border-color: #E09E7D
      &.selected
        border-color: $color2-4

  select, input
    width: 100%
    border-radius: 30px
    background-color: white
    padding: 2px 6px
    border: 1px solid #999
    width: 170px
    font-weight: bold
    font-size: 13px
    font-family: 'Lato', sans-serif
    &.sensor
      color: #0592AF

  svg
    width: 1px
    height: 1px
    position: absolute
    z-index: -1

// Connections are offset without this for some reason
.flow-tool > div > div
    position: absolute

.editor-container
  display: flex
  flex-direction: row
