@import ../../components/vars

.cover
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.25)
  display: flex
  align-items: center
  justify-content: center
  top: 0px

  .stop
    width: 150px
    height: 50px