@import "../components/vars.sass";

.custom-modal.link-tile,
.custom-modal.merge-tile {
  width: 420px;
  height: 200px;
  outline: none;

  .modal-content {
    justify-content: flex-start;

    .prompt {
      margin-top: 15px;
    }
  }

  select {
    margin: 15px 20px;
    font-style: italic;
  }

  .modal-button.disabled {
    opacity: 35%;
  }
};

.custom-modal.merge-tile .modal-icon {
  padding:4px;
}