@import "../components/vars.sass";

.custom-modal.link-tile,
.custom-modal.merge-tile {
  width: 420px;
  outline: none;

  .modal-content {
    justify-content: flex-start;
  }

  select {
    padding: 5px 10px;
    margin: 10px 0;
    font-style: italic;
  }

  .modal-button.disabled {
    opacity: 35%;
  }
};

