@import "../../vars";

.image-tool {
  width: 100%;
  height: 100%;
  text-align: left;
  overflow: auto;

  .loading-spinner {
    background-image: url("../../../assets/Spinner-1s-200px.svg");
    background-size: auto;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .image-frame {
    position: relative;
    width: 100%;
    height: 100%;

    .image-tool-image {
      position: absolute;
      left: 10px;
      top: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
