@import ../vars

.document-tab-content
  .editable-document-content
    top: $nav-tab-height * 2
    height: calc(100vh - (#{$header-height} + #{$workspace-content-margin} * 2 + #{$nav-tab-height} * 2 + #{$tab-section-border-width} * 2))
    position: static
    .canvas-area
      position: static
      height: 100%
