@import ../vars

$title-margin: 2px

.document-tab-content
  .document-title
    height: $workspace-titlebar-height
    background-color: $charcoal-light-5
    font-weight: bold
    display: flex
    align-items: center
    justify-content: center
    margin-top: $title-margin
    &.my-work
      background-color: $workspace-teal-light-5
    &.class-work
      background-color: $classwork-purple-light-5
    &.supports
      background-color: $support-blue-light-5
    &.learning-log
      background-color: $learninglog-green-light-5
  .editable-document-content
    top: $nav-tab-height * 2
    height: calc(100vh - (#{$header-height} + #{$workspace-content-margin} * 2 + #{$nav-tab-height} * 3 + #{$tab-section-border-width} * 2 + #{$title-margin}))
    position: static
    .canvas-area
      position: static
      height: 100%
