@import ../vars

.left-tab-panel
  width: 50%
  height: 100%
  position: fixed
  left: calc(0px - 100vw * .5)
  top: 55px
  background-color: $charcoal-light-3
  transition-duration: 1s
  transition-property: left
  margin-top: 4px
  &.shown
    left: 0px

  .top-row
    display: flex
    align-items: center
    justify-content: flex-start

  .close-button
    width: 36px
    height: 34px
    background-color: $charcoal-light-6
    border-radius: 0 6px 0 0
    border-style: solid
    border-color: $charcoal-light-1
    border-width: 1.5px 1.5px 1.5px 0
    background-image: url("../../assets/icons/close/close.svg")
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    &:hover
      background-color: $charcoal-light-4
      background-image: url("../../assets/icons/arrow-back/arrow-back.svg")
    &:active
      background-color: $charcoal-light-2
      background-image: url("../../assets/icons/arrow-back/arrow-back.svg")

  .top-tab-list
    display: flex
    padding: 0
    margin: 0
    .top-tab
      width: 90px
      height: 34px
      font-size: 13px
      color: $charcoal-dark-2
      border-style: solid
      border-color: $charcoal-light-1
      border-width: 1.5px 0 1.5px 1.5px
      border-radius: 0
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
    .top-tab:first-child
      border-width: 1.5px 0 1.5px 0
    .top-tab:last-child
      border-width: 1.5px 1.5px 1.5px 1.5px

