@import ../vars

.problem-panel
  height: 100%
  .section
    height: calc(100vh - (#{$header-height} + #{$workspace-content-margin} * 2 + #{$content-tab-height} * 2 + #{$tab-section-border-width} * 2))
    .section-header
      height: $problem-header-height
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      color: $charcoal-dark-2
      background-color: white
      padding: 0 20px
      .title
        height: 37px
        line-height: 37px
        font-size: 14px
        text-align: center
      .separator
        height: 1px
        width: 100%
        background-color: $problem-orange-light-3

    .canvas
      overflow: auto
      height: calc(100% - #{$problem-header-height})

      .document-content
        background-color: #fff
        padding: $padding

      .buttons
        margin: $margin
        text-align: right

        button
          padding: $half-padding $padding
          background-color: $color1-3
          border: $border-width solid $border-color
          color: $color1-7
          cursor: pointer
          border-radius: $border-radius
          font-family: 'Lato', sans-serif
          box-shadow: 3px 3px
          height: 70px
          outline: 0
          font-size: 14px
          &:hover, &:focus
            background-color: $color1-5
            color: $border-color
          &:active
            background-color: $color1-6
            color: $border-color
