@import ../vars

.problem-tabs
  border-color: $problem-orange-light-3
  border-width: 0 2px 2px 0
  border-style: solid
  .tab-list
    background-color: $problem-orange-light-7
    margin: 0
    padding: 0
    height: $left-tab-height
    display: flex
    .prob-tab
      width: 50px
      height: $left-tab-height
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      &:hover
        background-color: $problem-orange-light-5
      &:active, &.selected
        background-color: $problem-orange-light-3
        font-weight: bold
