@import ../vars

$list-item-height: 660px
$list-item-width: 880px
$list-item-scale: 0.11

.right-nav
  color: #000

  .tabs
    display: flex
    flex-direction: column
    width: $right-nav-contracted-width
    position: absolute
    top: $header-height + $nav-expanded-peek + 15px
    right: $nav-expanded-peek
    transition: right $animation-speed

    &.expanded
      right: $right-nav-expanded-width - $right-nav-contracted-width
      transition: right $animation-speed

    .tab
      +tab(right)
      min-height: $tab-min-height
      background: $color5
      border: $border-width solid $border-color
      border-radius: $border-radius 0 0 $border-radius
      box-shadow: -$half-border-width $half-border-width 0 0 rgba(0,0,0,0.20)
      margin-top: $half-margin
      padding: 0 $padding

      &.active
        background: $color5-selected
        border-right: $border-width solid $color5
        z-index: 1

      &:hover
        background: $color5-hover
        border-right: $border-width solid $color5
        z-index: 2

  .expanded-area
    position: absolute
    top: $header-height + $nav-expanded-peek
    bottom: 0
    right: $nav-expanded-peek - ($right-nav-expanded-width - $right-nav-contracted-width)
    width: $right-nav-expanded-width - $right-nav-contracted-width
    background: $color5
    border-top: $border-width solid $border-color
    border-left: $border-width solid $border-color
    border-bottom: $border-width solid $border-color
    border-radius: $border-radius 0 0 $border-radius
    margin-left: $right-nav-contracted-width
    box-shadow: -$half-border-width $half-border-width 0 0 rgba(0,0,0,0.20)
    transition: right $animation-speed

    &.expanded
      right: 0
      transition: right $animation-speed

    .contents
      position: relative
      width: 100%
      height: 100%
      border-radius: $border-radius 0 0 $border-radius
      padding: 13px
      background-color: $color5-5
      overflow: auto
      overflow-x: hidden

      .disabled
        display: none

      .loading
        padding: 10px

      ::-webkit-scrollbar
        width: 7px
      ::-webkit-scrollbar-track
        background: #f1f1f1
      ::-webkit-scrollbar-thumb
        background: $color3
        border-radius: $border-radius
      ::-webkit-scrollbar-thumb:hover
        background: #a3a3a3

      button
        padding: $half-padding
        margin: $margin
        width: ($right-nav-expanded-width - $right-nav-contracted-width) - 20px

      .container
        height: 100%
        border-radius: $border-radius 0 0 $border-radius
        background-color: $color4-10
        font-weight: 700
        overflow: auto
        overflow-x: hidden

        .my-work, .class-logs, .class-work
          background-color: $color4-7

        .header
          position: relative
          background-color: $color4-11
          width: 100%
          height: 40px
          align-items: center
          justify-content: center
          color: $font-5-color

        .section
          border-style: solid
          border-width: 2px 2px 0 2px
          border-color: $color4-10

          .section-header
            display: flex
            flex-direction: row
            padding: 6px
            background-color: $color4
            color: $font-2-color
            &.shown
              background-color: $color4-8
            &:hover
              background-color: $color4-9

            .icon
              height: 9px
              width: 9px
              fill: $font-2-color
              margin: 4px 6px 0 0

            .title
              width: 100%
              font-size: 12px
              text-align: left

      .list
        top: 0
        right: 0
        bottom: $margin
        overflow: auto
        overflow-x: hidden
        border-style: solid
        border-width: 0 2px 2px 2px
        border-color: $color4-8

        &.hidden
          display: none

        .list-item
          display: flex
          flex-direction: column
          align-items: center
          background-color: $color4-7
          margin: $half-margin 0 $margin 0
          overflow: hidden

          .scaled-list-item-container
            border: 1px solid #aaa
            width: $list-item-width * $list-item-scale
            height: $list-item-height * $list-item-scale

            .scaled-list-item
              transform: scale($list-item-scale)
              transform-origin: 0 0
              height: $list-item-height
              width: $list-item-width

            .canvas

          .info
            margin-top: $half-margin
            text-align: center
            font-size: 10px

          .footer
            display: flex
            align-items: center
            justify-content: center
            width: 100%

            .icon-holder
              display: flex
              align-items: center
              justify-content: center
              width: 24px
              margin-top: $half-margin
            .icon-holder:hover
              cursor: pointer
              opacity: .75

            .icon-star
              height: 12px
              width: 12px
              fill: #808080
              &.starred
                fill: #FF6A00

            .info
              margin-right: auto
              margin-left: $margin



