@import "../vars";
$title-margin: 2px;

.document-tabs {
  &.chat-open {
    border-right: 0;
  }

  .document-browser {
    overflow-y: auto;
    height: 100%;
  }

  .scroller-and-document {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .document-area {
      flex: 1;
      display: flex;
      flex-direction: row;

      .focus-document {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;

        &.primary {
          width: 50%;
        }
        &.secondary {
          right: 0;
          top: 0;
          width: 50%;
          border-left: $document-border-width solid;
          &.class-work {
            border-color: $workspace-teal-dark-1
          }
          &.my-work {
            border-color: $workspace-teal-dark-1
          }
        }
        .document-header {
          display: flex;
          align-items: center;
          height: $workspace-titlebar-height;
          background-color: $charcoal-light-5;
          margin-top: $title-margin;
          justify-content: center;
          position: relative;
          top: 0;
          width: 100%;
          &.my-work {
            background-color: $workspace-teal-light-4;
          }
          &.class-work {
            background-color: $workspace-teal-light-4;
          }
          &.supports {
            background-color: $support-blue-light-5;
          }
          &.learning-log {
            background-color: $learninglog-green-light-5;
          }
          &.primary {
            background-color: $document-select-green;
          }
          &.secondary {
            background-color: $document-select-blue;
          }
          .document-title {
            font-size: 13px;
            font-weight: bold;
            .class-work {
              font-weight: normal;
            }
          }
          .document-buttons {
            display:flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            position: absolute;
            top: -1px;
            right: 5px;
            .edit-button {
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 66px;
              height: 26px;
              border-radius: 5px;
              border: solid 1.5px $charcoal-light-1;
              background-color: $workspace-teal-light-4;
              right: 5px;
              padding: 0;
              box-sizing: border-box;
              cursor: pointer;
              &:hover {
                background-color: $workspace-teal-light-3;
              }
              &:active {
                background-color: $workspace-teal-light-1;
                color: white;
                .edit-icon {
                  fill: white;
                }
              }
              &.disabled {
                pointer-events: none;
                opacity: 0.35;
              }
              &.primary {
                background-color: $document-select-green;
              }
              &.secondary {
                background-color: $document-select-blue;
              }
              &.learning-log {
                background-color: $learninglog-green-light-5;
                &:hover {
                  background-color: $learninglog-green-light-4;
                }
                &:active {
                  background-color: $learninglog-green-dark-1;
                  color: white;
                  .edit-icon {
                    fill: white;
                  }
                }
              }
              .edit-icon {
                fill: $workspace-teal-dark-1;
                width: 24px;
                height: 24px;
                margin-left: 4px;
                margin-right: 3px;
                &.learning-log {
                  fill: $learninglog-green-dark-1;
                }
              }
            }
            .close-doc-button {
              svg {
                position: relative;
                left:-2px;
              }
              margin-left: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              background-color: transparent;
              border-width: 0px;
              border-radius: 50%;
              padding: 3px;
              height:26px;
              width: 26px;
              &.disabled {
                pointer-events: none;
                opacity: 0.35;
              }
              &.class-work {
                background-color: $workspace-teal-light-4;
                .x-shape {
                  fill: $workspace-teal-dark-1;
                }
                &:hover {
                  background-color: $workspace-teal-light-3;
                }
                &:active {
                  background-color: $workspace-teal-dark-1;
                  color: white;
                  .x-shape {
                    fill: white;
                  }
                }
              }
              &.my-work {
                background-color: $workspace-teal-light-4;
                .x-shape {
                  fill: $workspace-teal-dark-1;
                }
                &:hover {
                  background-color: $workspace-teal-light-3;
                }
                &:active {
                  background-color: $workspace-teal-light-1;
                  color: white;
                  .x-shape {
                    fill: white;
                  }
                }
              }
              &.learning-log {
                background-color: $learninglog-green-light-5;
                .x-shape {
                  fill: $learninglog-green-dark-1;
                }
                &:hover {
                  background-color: $learninglog-green-light-3;
                }
                &:active {
                  background-color: $learninglog-green-light-1;
                  color: white;
                  .x-shape {
                    fill: white;
                  }
                }
              }
            }
          }
        }
      }
      .scroll-arrow-button.document-flipper {
        position: absolute;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        &.left {
          left: 0px;
        }
        &.right {
          right: 0px;
        }
      }
    }
  }
  .editable-document-content {
    top: $nav-tab-height;
    flex: 1;
    background-color: white;

    .canvas-area {
      // Not sure why - 4px is necessary here, but the document would always scroll otherwise
      height: calc(100% - 4px);

      .comment-select {
        .tool-tile.readonly {
          border: 2px solid $comment-select-background;
          &.selected {
            border: 2px solid $tool-tile-background;
          }
        }
      }

      .playback-component {
        // This is to compensate for the - 4px above
        bottom: -4px;
      }
    }
  }
}
