@import "../vars";
$title-margin: 2px;
$scroller-height: 145px;

.document-tabs {
  &.chat-open {
    border-right: 0;
  }

  .document-browser {
    overflow-y: auto;
    height: 100%;
  }

  .scroller-and-document {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .collapse-scroller-button {
      border-radius: 50%;
      z-index: 5;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.collapsed {
        transform: rotate(180deg);
      }
      .scroller-icon {
        &.class-work {
          fill: $classwork-purple-dark-1;
        }
        &.my-work {
          fill: $workspace-teal-dark-1;
        }
      }
    }
    .scroller {
      display: flex;
      align-items: center;
      border-bottom: $document-border-width solid;
      &.class-work {
        border-color: $classwork-purple-dark-1
      }
      &.my-work {
        border-color: $workspace-teal-dark-1
      }
      &.collapsed {
        height: 0;
      }
      .doc-collection-list.horizontal {
        height: $scroller-height;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        top: 0;
        left: 0;
        &.collapsed {
          height: 0;
        }
      }
      .scroller-controls {
        position: absolute;
        height: $scroller-height;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        &.collapsed {
          display: none;
        }
        &.left {
          left: 0px;
        }
        &.right {
          right: 0px;
        }
        .scroller-controls-overlay {
          position: relative;
          background-color: white;
          opacity: 50%;
          width: 55px;
          height: $scroller-height;
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
      }
    }
    .document-area {
      flex: 1;
      display: flex;
      flex-direction: row;

      .focus-document {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;

        &.primary {
          width: 50%;
        }
        &.secondary {
          right: 0;
          top: 0;
          width: 50%;
          border-left: $document-border-width solid;
          &.class-work {
            border-color: $classwork-purple-dark-1
          }
          &.my-work {
            border-color: $workspace-teal-dark-1
          }
        }
        .document-header {
          display: flex;
          align-items: center;
          height: $workspace-titlebar-height;
          background-color: $charcoal-light-5;
          margin-top: $title-margin;
          justify-content: center;
          position: relative;
          top: 0;
          width: 100%;
          &.my-work {
            background-color: $workspace-teal-light-4;
          }
          &.class-work {
            background-color: $classwork-purple-light-5;
          }
          &.supports {
            background-color: $support-blue-light-5;
          }
          &.learning-log {
            background-color: $learninglog-green-light-5;
          }
          &.primary {
            background-color: $document-select-green;
          }
          &.secondary {
            background-color: $document-select-blue;
          }
          .document-title {
            font-size: 13px;
            font-weight: bold;
            .class-work {
              font-weight: normal;
            }
          }
          .edit-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 66px;
            height: 26px;
            border-radius: 5px;
            border: solid 1.5px $charcoal-light-1;
            background-color: $workspace-teal-light-4;
            position: absolute;
            right: 5px;
            padding: 0;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
              background-color: $workspace-teal-light-3;
            }
            &:active {
              background-color: $workspace-teal-light-1;
              color: white;
              .edit-icon {
                fill: white;
              }
            }
            &.disabled {
              pointer-events: none;
              opacity: 0.35;
            }
            &.primary {
              background-color: $document-select-green;
            }
            &.secondary {
              background-color: $document-select-blue;
            }
            &.learning-log {
              background-color: $learninglog-green-light-5;
              &:hover {
                background-color: $learninglog-green-light-4;
              }
              &:active {
                background-color: $learninglog-green-dark-1;
                color: white;
                .edit-icon {
                  fill: white;
                }
              }
            }
            .edit-icon {
              fill: $workspace-teal-dark-1;
              width: 24px;
              height: 24px;
              margin-left: 4px;
              margin-right: 3px;
              &.learning-log {
                fill: $learninglog-green-dark-1;
              }
            }
          }
        }
      }
      .scroll-arrow-button-wrapper {
        position: relative;
        &.left {
          left: 0px;
          top: calc((100vh/2) - $scroller-height - 25px);
        }
        &.right {
          right: 2px;
          top: calc((-100vh/2) + $scroller-height);
        }
      }
    }

    .scroll-arrow-button {
      opacity: 100%;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 5;
      &.collapsed {
        display: none;
      }
      &.left {
        left: 2px;
      }
      &.right {
        right: 2px;
      }
      .scroll-arrow-icon {
        border-radius: 50%;
        &.right {
          transform: rotate(180deg);
        }
        &.class-work {
          border-radius: 50%;
          fill: $classwork-purple-dark-1;
        }
        &.my-work {
          border-radius: 50%;
          fill: $workspace-teal-dark-1;
        }
      }
    }
  }
  .editable-document-content {
    top: $nav-tab-height;
    flex: 1;
    .canvas-area {
      // Not sure why - 4px is necessary here, but the document would always scroll otherwise
      height: calc(100% - 4px);
      width: 100%;

      .comment-select {
        .tool-tile.readonly {
          border: 2px solid $comment-select-background;
          &.selected {
            border: 2px solid white;
          }
        }
      }

      .playback-component {
        // This is to compensate for the - 4px above
        bottom: -4px;
      }
    }
  }
}
