@import ../vars

.row-section-header
  width: 100%
  height: 30px
  background-color: #EDEBC6
  display: flex
  border: 2px solid #C2BC62

  .abbreviation
    color: white
    background-color: #C2BC62
    height: 26px
    width: 60px
    border-radius: 0 23px 23px 0
    display: flex
    align-items: center
    padding-left: 15px
    font-size: 16px
  .title
    color: #595402
    flex: 1
    margin: auto
    font-size: 16px
    padding-right: 60px