@import ../vars

.text-tool-wrapper
  width: 100%
  height: 100%

.text-tool
  width: calc(100% - 50px)
  min-height: auto
  text-align: left
  padding: 3px 0
  margin: 3px 0
  overflow: 

  &.editable
    border: 1px solid #cccccc
    min-height: 311px
    left: 44px
    top: 0
    position: relative
    width: calc(100% - 46px)
    padding 0
    margin 0
