.mode {
  height: 40px;
  margin: 10px;
  padding: 2px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D50103;
  color: white;

  svg {
    height: 1.5em;
    margin-right: 5px;
    fill: white;
  }
}

.tippy-tooltip a {
  color: white;
}
