@import "../../components/vars";

$member-size: 18px;

.app-header {
  position: relative;
  z-index: 20;
  height: $header-height;
  background-color: $workspace-teal-light-5;
  color: $charcoal-dark-2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 14px;

  .left {
    flex: 2;
    padding: 0 $padding;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .unit {
      max-width: 286px;
      flex-shrink: 0;

      .title {
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .investigation {
        font-size: 13px;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .separator {
      width: 1.5px;
      height: 40px;
      background-color: $charcoal-light-1;
      margin: 0 $margin;
      flex-shrink: 0;
    }

    .problem-dropdown {
      height: 40px;

      .header .arrow {
        fill: $workspace-teal-dark-1;

        &.show-list {
          fill: white;
        }
      }
    }
  }

  .middle {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;

    &.student {
      flex: 0;
    }

    button {
      // note: need focus/accessibility solution
      outline: none;
      background-color: $color1-4;
      border-radius: 5px;

      &:hover {
        background-color: $color1-3;
      }
    }
  }

  .right {
    flex: 2;
    padding: 0 $padding;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .student-groups-button {
      align-items: center;
      background-color: $workspace-teal-light-5;
      border: solid 1.5px $charcoal-light-1;
      border-radius: 5px;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      gap: 8px;
      height: 40px;
      padding: 0 0 0 8px;

      &:hover {
        background-color: $workspace-teal-light-3;

        .student-groups-icon {
          background-color: $workspace-teal-light-7;
        }
      }

      &:active, &.selected {
        background-color: $workspace-teal-dark-1;
        border-color: white;
        color: white;

        .student-groups-icon {
          background-color: $workspace-teal-light-5;
        }
      }

      .student-groups-label {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.2;

        .student-groups-text {
          white-space: nowrap;
        }
      }

      .student-groups-icon {
        align-items: center;
        background-color: white;
        border-radius: 3px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: 100%;
        justify-content: center;
        padding: 4px 8px;

        .student-groups-row {
          display: flex;
          flex-direction: row;
          gap: 2px;

          .student-icon {
            align-items: center;
            display: flex;
            height: 11px;
            justify-content: center;
            width: 11px;

            &::after {
              background-color: $workspace-teal;
              content: "";
              height: 11px;
              -webkit-mask-image: url("../../assets/icons/clue-dashboard/teacher-student.svg");
              -webkit-mask-repeat: no-repeat;
              -webkit-mask-size: contain;
              mask-image: url("../../assets/icons/clue-dashboard/teacher-student.svg");
              mask-repeat: no-repeat;
              mask-size: contain;
              width: 11px;
            }
          }
        }
      }
    }

    .network-status-and-version {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;

      .version {
        font-size: 12px;
      }
    }

    .version {
      font-size: 12px;
    }

    .group {
      height: 40px;
      min-width: 109px;
      max-width: 124px;
      box-sizing: border-box;
      flex-grow: 0;
      padding: 0;
      margin: 0 $margin;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      border-radius: 5px;
      border: solid 1.5px $charcoal-light-1;
      cursor: pointer;

      &:hover {
        background-color: $workspace-teal-light-3;
      }

      &:active {
        background-color: $workspace-teal-dark-1;
        color: white;
        border-color: white;
      }

      .group-center {
        position: relative;
        left: 22px;
        width: 8px;
        height: 8px;
        border-radius: 2.5px;
        background-color: white;
      }

      .name {
        font-weight: normal;
        font-size: 13px;
        margin: 0 2px 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .members {
        display: flex;
        flex-direction: column;
        color: $charcoal-dark-2;

        .row {
          display: flex;
          flex-direction: row;

          .member {
            font-size: 9px;
            line-height: $member-size;
            padding: 3px;
            width: $member-size;
            height: $member-size;
            background-color: #2da343;

            &.nw {
              background-color: $id-blue;
              border-right: 1px solid white;
              border-bottom: 1px solid white;
            }

            &.ne {
              background-color: $id-orange;
              border-top-right-radius: 4px;
              border-left: 1px solid white;
              border-bottom: 1px solid white;
            }

            &.se {
              background-color: $id-green;
              border-bottom-right-radius: 4px;
              border-left: 1px solid white;
              border-top: 1px solid white;
            }

            &.sw {
              background-color: $id-purple;
              border-right: 1px solid white;
              border-top: 1px solid white;
            }

            &.disconnected {
              background-color: $charcoal-light-4;
            }

            &.teacher {
              background-color: #EA6D2F !important;
            }

            &.empty {
              background-color: $workspace-teal-light-5;
            }

            .initials {
              margin-top: -3px;
            }
          }
        }
      }
    }

    .profile-icon {
      background-color: white;
      width: 36px;
      height: 36px;
      border-radius: 0 5px 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &.teacher {
        border: solid 1.5px $charcoal-light-1;
        height: 40px;
        width: 40px;
      }

      .profile-icon-inner {
        width: 24px;
        height: 24px;
        mask-image: url("../../assets/icons/clue-dashboard/teacher-student.svg");
        background-color: $problem-orange;
      }
    }

    .user {
      height: 40px;
      padding: 0 1px 0 0;
      flex-grow: 0;
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: solid 1.5px $charcoal-light-1;
      box-sizing: border-box;

      &.teacher {
        border-width: 0;
      }

      .class > .custom-select > .header {
        min-width: 250px;
        border-radius: 5px 0 0 5px;
        border-right: 0;

        .arrow {
          fill: $workspace-teal-dark-1;

          &.show-list {
            fill: white;
          }
        }
      }

      .user-contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: normal;
        font-size: 13px;
        min-width: 108px;
        max-width: 155px;

        .custom-select {
          .header {
            min-width: 155px;
            max-width: 155px;

            .title-container, .title-prefix, .title {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              text-align: left;
            }
          }
        }
      }

      .student-profile-icon {
        background-color: white;
        width: 36px;
        height: 36px;
        border-radius: 0 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .student-profile-icon-inner {
          width: 24px;
          height: 24px;
          mask-image: url("../../assets/icons/clue-dashboard/teacher-student.svg");
          background-color: $problem-orange;
        }
      }
    }
  }

  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: $charcoal-light-1;
    border-width: 1.5px 0 1.5px 1.5px;
    height: 40px;
    width: 92px;
    color: $charcoal-dark-2;
    cursor: pointer;

    &.selected {
      font-weight: bold;
      background-color: $workspace-teal-dark-1;
      color: white;
      border-style: solid;
      border-width: 1.5px 0 1.5px 1.5px;
      border-color: white;
    }

    &:last-child {
      border-width: 1.5px;
    }
  }
}
