@import "../../components/vars";

.clue-app-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .skip-links {
    display: flex;
    gap: 8px;
    left: 10px;
    position: absolute;
    top: -100px;
    z-index: 9999;

    &:focus-within {
      top: 10px;
    }
  }

  .skip-link {
    background: white;
    border: $focus-ring-outer-width solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: $charcoal-dark-1;
    padding: 8px 16px;
    text-decoration: none;

    &:focus {
      border-color: $focus-ring-color;
      outline: none;
    }
  }

  .blocker {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}
