@import "../../components/vars";

.clue-app-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .blocker {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}
