@import "../../components/vars";

.progress-widget-item {
  width: 70px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  margin-top: 1.5em;

  .section-progress {
    font-size: 14px;
    font-family: "Lato-Bold", "Lato Bold", "Lato", "Arial";
    line-height: 1.25em;
    color: white;
    text-align: center;
    padding: 2px;

    .section-of {
      font-size: 12px;
    }
  }

  .section-circle {
    font-size: 11pt;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: $golden-light-1;
    color: $golden-text;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    &.selected {
      color: white;
      background-color: $golden-dark-5;
    }

    &:hover {
      color: white;
      background-color: $golden-dark-5;
    }
  }
}
