@import ../../components/vars

.progress-widget-item
  width: 70px
  height: 40px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-bottom: .5em
  margin-top: 2em
  .section-progress
    font-size: 14px
    font-family: 'Lato-Bold', 'Lato Bold', 'Lato', 'Arial'
    line-height: normal
    color: white
    text-align: center
  .section-circle
    font-size: 14pt
    width: 40px
    height: 40px
    border-radius: 20px
    background: $golden-light-1
    color: $golden-text
    border: 3px solid white
    display: flex
    justify-content: center
    align-items: center
    &.selected
      color: white
      background-color: $golden-dark-5
    &:hover
      color: white
      background-color: $golden-dark-5

