body.tile-picked-up {
  cursor: grabbing !important;

  *:not(.delete-button):not(.tool-tile-drag-handle-wrapper) {
    cursor: grabbing !important;
  }

  .delete-button {
    cursor: pointer !important;
  }

  .tool-tile-drag-handle-wrapper {
    cursor: pointer !important;
  }
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  &:has(.log-monitor) {
    overflow: hidden;

    > .app {
      flex: 1;
      min-width: 0;
      height: 100%;
      overflow: auto;

      > .progress, > .error {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }

    .clue-app-content {
      width: 100%;
    }
  }

  .icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
