@import vars

.four-up
  width: 100%
  height: 100%

  .horizontal
    left: 0
    right: 0
    cursor: ns-resize

  .vertical
    top: 0
    bottom: 0
    cursor: ew-resize

  .splitter
    position: absolute
    background-color: #777

  .center
    position: absolute
    opacity: 0
    cursor: move

  .canvas-container
    position: absolute
    background-color: #ddd

    .canvas-scaler
      position: absolute
      background-color: white
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      top: 0
      left: 0

    .member
      position: absolute
      font-size: 10px
      color: $charcoal-dark-3
      padding: $half-padding
      opacity: .75

    .member-centered
      font-size: 14px
      text-align: center
      border-radius: 0 !important
      top: initial !important
      right: 20% !important
      bottom: 0 !important
      left: 20% !important

    .member:hover
      opacity: 1

    .unshared
      width: 500px
      font-size: 32px

      &.ne
        color: orange
      &.se
        color: green
      &.sw
        color: purple

      .icon
        height: 75px

    &.north-west .member
      bottom: 0
      right: 0
      background-color: $id-blue

    &.north-east .member
      bottom: 0
      left: 0
      background-color: $id-orange
      border-top-right-radius: $border-radius

    &.south-east .member
      top: 0
      left: 0
      background-color: $id-green
      border-bottom-right-radius: $border-radius

    &.south-west .member
      top: 0
      right: 0
      background-color: $id-purple
      border-bottom-left-radius: $border-radius