@import vars

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $header-height
  background-color: $header-background
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  font-size: 14px

  .info
    flex-grow: 1
    padding: 0 10px
    display: flex
    align-items: center

    .problem
      font-weight: bold
    .class

  .group
    flex-grow: 0
    padding: 0 10px
    text-align: center
    display: flex
    flex-direction: row
    align-items: center

    .name
      font-weight: bold
      cursor: pointer
      background-color: $header-highlight
      padding: 5px 10px

    .members
      .member
        display: inline
        font-size: 10px
        margin: 0 3px
        padding: 3px
        background-color: #2da343
        &.disconnected
          background-color: #777
        &.teacher
          background-color: #EA6D2F !important

  .user
    flex-grow: 0
    display: flex
    align-items: center
    margin-right: 20px

    .name
      padding: 5px 10px
      background-color: $header-highlight
      font-weight: bold
