$list-item-height: 600px
$list-item-width: 800px
$list-item-scale: 0.08

$button-width: 60px;

.learning-log

  button
    padding: 5px
    margin: 10px
    width: $button-width

  .list
    position: absolute
    top: 10px
    right: 0
    left: $button-width + 20px
    bottom: 10px
    overflow: auto
    overflow-y: hidden

    .list-item
      position: relative
      float: left
      margin: 0 5px
      overflow: hidden

      .scaled-list-item-container
        position: relative
        border: 1px solid #aaa
        width: $list-item-width * $list-item-scale
        height: $list-item-height * $list-item-scale

        .scaled-list-item
          position: absolute
          top: 0
          left: 0
          transform: scale($list-item-scale)
          transform-origin: 0 0
          height: $list-item-height
          width: $list-item-width

        .canvas

      .info
        margin-top: 5px
        text-align: center
        font-size: 0.8em

        .created
          font-style: italic
          font-size: 0.8em
