.left-nav-panel
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  .section
    h1
      font-size: 18px
      margin: 5px 0 0 10px

    .canvas
      position: absolute
      top: 32px
      right: 10px
      bottom: 10px
      left: 10px
      width: initial
      height: initial

