@import vars

.left-nav-panel
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  .section
    .section-header
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-start

      h1
        flex-grow: 1
        font-size: 18px
        margin: $double-margin
        text-align: center

    .canvas
      position: absolute
      top: 62px
      right: $double-margin
      bottom: $double-margin
      left: $double-margin
      width: initial
      height: initial
      overflow: auto

      .document-content
        background-color: #fff
        padding: $padding

      .buttons
        margin: $margin
        text-align: right

        button
          padding: $half-padding $padding
          background-color: $color1-3
          border: $border-width solid $border-color
          color: $color1-7
          cursor: pointer
          border-radius: $border-radius
          font-family: 'Lato', sans-serif
          box-shadow: 3px 3px
          height: 70px
          outline: 0
          font-size: 14px
          &:hover, &:focus
            background-color: $color1-5
            color: $border-color
          &:active
            background-color: $color1-6
            color: $border-color
