@import './vars';

.network-status {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .status {
    width: 70px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D50103;
    color: white;
    font-weight: bold;
    font-size: 13px;

    &.connected {
      background-color: #00d700;
      color: $charcoal-dark-2;
      font-weight: normal;
    }
  }
}
