@import "./vars";

.pager-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  margin: 0px;
  text-align: center;
  font-size: 10pt;
  height: 80px;
  width: 90px;

  .pager-button {
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0px 0px;
    background-color: $color1-5;
    color: black;
    width: 70px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/icons/pager/page.svg");

    &.next-page-button {
      transform: rotate(180deg);
    }

    &.disabled {
      opacity: 0.3;
    }

    &:hover {
      background-color: $color1-3;
    }

    &:nth-child(2) {
      border-top: 0px solid white;
      margin-top: 3px;
    }

    &:hover {
      background-color: $sage-dark-3;
      color: white;
    }

    &.invisible {
      visibility: hidden;
    }
  }
}
