
  .pager
    height: 55px
    background-color: $color1-2

    button
      outline: none
      background-color: $color1-4
      border-radius: 5px
      &:hover
        background-color: $color1-3
