@import vars

$list-item-height: 600px
$list-item-width: 800px
$list-item-scale: 0.1

.right-nav
  position: fixed
  top: $header-height + $nav-expanded-peek
  right: $nav-expanded-peek
  width: $right-nav-contracted-width
  bottom: $nav-expanded-peek * 2
  color: #000
  transition: right $animation-speed

  &.expanded
    right: $right-nav-expanded-width - $right-nav-contracted-width
    transition: right $animation-speed

  .tabs
    display: flex
    flex-direction: column
    width: $right-nav-contracted-width
    position: absolute
    top: 15px
    right: 0

    .tab
      +tab(right)
      min-height: $tab-min-height
      background: $right-nav-tab-background-color
      border: 4px solid $tab-border-color
      border-radius: $tab-border-radius 0 0 $tab-border-radius
      box-shadow: -2px 2px 0 0 rgba(0,0,0,0.20)
      margin-top: 5px
      padding: 0 10px

      &.active
        background: $right-nav-tab-active-background-color
        z-index: 1

      &:hover
        background: $right-nav-tab-hover-background-color
        z-index: 2

  .expanded-area
    position: relative
    width: $right-nav-expanded-width - $right-nav-contracted-width
    background: $right-nav-tab-background-color
    border-top: 4px solid $tab-border-color
    border-left: 4px solid $tab-border-color
    border-bottom: 4px solid $tab-border-color
    border-radius: $tab-border-radius 0 0 $tab-border-radius
    margin-left: $right-nav-contracted-width
    height: 100%
    box-shadow: -2px 2px 0 0 rgba(0,0,0,0.20)

    .contents
      position: relative
      width: 100%
      height: 100%

      button
        padding: 5px
        margin: 10px
        width: ($right-nav-expanded-width - $right-nav-contracted-width) - 20px

      .list
        position: absolute
        top: 10px
        right: 0
        left: 12px
        bottom: 10px
        overflow: auto
        overflow-x: hidden

        .list-item
          position: relative
          float: left
          margin: 5px 0 10px 0
          overflow: hidden

          .scaled-list-item-container
            position: relative
            border: 1px solid #aaa
            width: $list-item-width * $list-item-scale
            height: $list-item-height * $list-item-scale

            .scaled-list-item
              position: absolute
              top: 0
              left: 0
              transform: scale($list-item-scale)
              transform-origin: 0 0
              height: $list-item-height
              width: $list-item-width

            .canvas

          .info
            margin-top: 5px
            text-align: center
            font-size: 0.6em



