@import "./vars";

.themed {
  background-color: white;

  &.problems {
    fill: $problem-orange;
    &:hover {
      background-color: $problem-orange-light-5;
    }
    &:active {
      background-color: $problem-orange-light-4;
    }
  }
  &.student-work {
    fill: $charcoal-dark-1;
    &:hover {
      background-color: $charcoal-light-4;
    }
    &:active {
      background-color: $charcoal-light-3;
    }
  }
  &.my-work {
    fill: $workspace-teal;
    &:hover {
      background-color: $workspace-teal-light-4;
    }
    &:active {
      background-color: $workspace-teal-light-3;
    }
  }
  &.class-work {
    fill: $workspace-teal;
    &:hover {
      background-color: $workspace-teal-light-4;
    }
    &:active {
      background-color: $workspace-teal-light-3;
    }
  }
  &.supports {
    fill: $support-blue;
    &:hover {
      background-color: $support-blue-light-4;
    }
    &:active {
      background-color: $support-blue-light-3;
    }
  }
  &.teacher-guide {
    fill: $learninglog-green-dark-1;
    &:hover {
      background-color: $learninglog-green-light-5;
    }
    &:active {
      background-color: $learninglog-green-light-4;
    }
  }
  &.learning-log {
    fill: $learninglog-green-light-5;
    &:hover {
      background-color: $learninglog-green-light-4;
    }
    &:active {
      background-color: $learninglog-green-light-2;
    }
  }
  &.sort-work {
    fill: $classwork-purple;
    &:hover {
      background-color: $classwork-purple-light-4;
    }
    &:active {
      background-color: $classwork-purple-light-3;
    }
  }
  &.no-action {
    cursor: default;
    &:hover {
      background-color: white;
    }
    &:active {
      background-color: white;
    }
  }
  &.disabled {
    opacity: 35%;
  }
}

.themed-negative {
  &.problems {
    fill: $problem-orange;
    &:hover {
      background-color: $problem-orange-light-4;
    }
    &:active {
      fill: white;
      background-color: $problem-orange;
      color: white;
    }
  }
  &.student-work {
    fill: $charcoal-dark-1;
    &:hover {
      background-color: $charcoal-light-3;
    }
    &:active {
      fill: white;
      background-color: $charcoal-dark-1;
      color: white;
    }
  }
  &.my-work {
    fill: $workspace-teal-dark-1;
    &:hover {
      background-color: $workspace-teal-light-3;
    }
    &:active {
      fill: white;
      background-color: $workspace-teal-dark-1;
      color: white;
    }
  }
  &.class-work {
    fill: $workspace-teal-dark-1;
    &:hover {
      background-color: $workspace-teal-light-4;
    }
    &:active {
      fill: white;
      background-color: $workspace-teal-dark-1;
      color: white;
    }
  }
  &.supports {
    fill: $support-blue-dark-1;
    &:hover {
      background-color: $support-blue-light-4;
    }
    &:active {
      fill: white;
      background-color: $support-blue-dark-1;
      color: white;
    }
  }
  &.teacher-guide {
    fill: $learninglog-green-dark-1;
    &:hover {
      background-color: $learninglog-green-light-4;
    }
    &:active {
      fill: white;
      background-color: $learninglog-green-dark-1;
      color: white;
    }
  }
  &.no-action {
    cursor: none;
    pointer-events: none;
  }
  &.disabled {
    opacity: 35%;
  }
}
