@import ./vars

.toggle-group
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: stretch
  border-radius: 0.5em
  padding: 3px
  margin: 0px
  text-align: center
  font-size: 10pt
  .toggle-button
    padding: 0.5em
    border-radius: 0.5em 0.5em 0px 0px
    border: 3px solid white
    background-color: $sage-light-2
    color: black;
    &:nth-child(2)
      border-top: 0px solid white
      border-radius: 0px 0px 0.5em 0.5em
    &.selected
      background-color: $sage-dark-5
      color: white
    &:hover
      background-color: $sage-dark-5    
      color: white