@import vars

.toolbar
  position: absolute
  top: $workspace-titlebar-height
  left: 0
  width: $workspace-toolbar-width

  display: flex
  flex-direction: column

  .tool
    width: 36px
    height: 34px
    background-color: $charcoal-light-6
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    font-size: 20px
    font-weight: bold
    margin: 2px
    margin-bottom: 0
    border: 0
    cursor: pointer

    svg path
      fill: $charcoal-dark-1
      pointer-events: none

    &.enabled
      &:hover
        background-color: $charcoal-light-4

      &:active, &.active
        background-color: $charcoal-light-3

        svg path
          fill: $charcoal-dark-2
          pointer-events: none

    &.disabled
      opacity: 35%
