@import "./vars";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2px;
  width: $workspace-toolbar-width;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tool {
    width: 36px;
    height: 34px;
    background-color: $charcoal-light-6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    margin-bottom: 0;
    border: 0;
    cursor: pointer;

    // the :not() here is for tools that shouldn't have their svg updated
    &:not(.fourup):not(.copytoworkspace):not(.copytodocument) {
      svg path {
        fill: $charcoal-dark-1;
        pointer-events: none;

        &.annotation-path {
          fill: $annotation-blue;
        }
      }

      &.enabled {
        &:hover {
          background-color: $charcoal-light-4;
        }

        &:active, &.active {
          background-color: $charcoal-light-3;

          svg path {
            fill: $charcoal-dark-2;
            pointer-events: none;

            &.annotation-path {
              fill: $annotation-blue-dark;
            }
          }
        }

        &.readaloud {
          &:active, &.active {
            svg path {
              fill: $workspace-teal-dark-1;
            }
          }
        }
      }
    }

    &.disabled {
      opacity: 35%;
      cursor: auto;
    }
  }
}
