$animation-speed: 500ms

$header-height: 50px

$my-work-contracted-height: 25px
$my-work-expanded-height: 100px

$left-nav-contracted-width: 40px
$left-nav-expanded-width: 700px

$learning-log-contracted-width: 40px
$learning-log-expanded-width: 160px

$tab-background-color: #f2f2f2
$tab-border-color: #797979
$tab-border-radius: 10px

$active-tab-color: #fff
$active-tab-background-color: #aaa

$workspace-titlebar-height: 25px
$workspace-supports-height: 40px
$workspace-toolbar-width: 40px