@import vars

.workspace
  position: fixed
  top: $header-height
  left: $left-nav-contracted-width
  right: $learning-log-contracted-width
  bottom: $my-work-contracted-height
  color: #000
  background-color: #e4e4e4