body {
  margin: 0;
}

.seismic-admin {
  display: flex;
  flex-flow: column;
  font-family: 'Lato', 'Noto Sans Symbols 2', 'Noto Sans Math', sans-serif;

  &.loading {
    padding: 24px;
    color: #888;
  }

  .icon {
    height: 24px;
    width: 24px;
  }

  button:enabled {
    cursor: pointer;
  }

  button {
    border-radius: 5px;
    border-width: 1.5px;

    &:enabled:hover {
      background: #ddd;
    }

    &.danger {
      color: #fff;
      background: #c0392b;

      &:enabled:hover {
        background: #a0190b;
      }
    }
  }
}
