@import ../../../vars

.node-select-container
  display: flex
  line-height: 24px
  margin-top: 3px
  margin-bottom: 3px

  .node-select-label
    color: white
    margin-right: 5px

.node-select
  width: 140px
  height: 24px
  &.sensor-type, &.generatorType
    margin-bottom: 3px
    margin-top: 3px
    font-size: 14px
    .label
      margin-left: 2px

  .item
    display: flex
    align-items: center
    height: 26px
    box-sizing: border-box
    background-color: white
    padding: 0 0 0 4px
    &.top
      padding: 0 6px 0 6px
      border-radius: 3px
      &.missing
        background-color: pink
    &.selected
      &.sensor-type-option
        background-color: $sensor-blue-control
      &.relay-type-option
        background-color: $relay-orange-control
      &.generatorType
        background-color: $generator-blue-control
      &.mathOperator
        background-color: $math-green-control
      &.logicOperator
        background-color: $logic-green-control
      &.transformOperator
        background-color: $transform-green-control
      &.interval
        background-color: $data-storage-orange-control
    &.selectable
      &:hover
        &.sensor-type-option
          background-color: $sensor-blue-outline
        &.relay-type-option
          background-color: $relay-orange-outline
        &.generatorType
          background-color: $generator-blue-outline
        &.mathOperator
          background-color: $math-green-outline
        &.logicOperator
          background-color: $logic-green-outline
        &.transformOperator
          background-color: $transform-green-outline
        &.interval
          background-color: $data-storage-orange-outline
      &:hover .icon
        fill: white
    &.disabled
      color: $gray-mid

    .top-item-holder
      display: flex

    .label
      vertical-align: middle
      overflow: hidden
      white-space: nowrap
      margin-right: 2px

    .dropdown-caret-holder
      margin-left: 2px
      margin-left: auto

    .icon
      position: static
      z-index: 0
      width: 16px
      height: 16px
      margin: 0 4px 0 0
      &.top
        margin: 0 2px 0 0
      &.dropdown-caret
        width: 7px
        height: 5px
        margin-right: 0px
        margin-left: auto

  .option-list
    position: relative
    z-index: 2
    left: 0
    top: 0
    border: 1px solid $gray-text
    background-color: white
    &.logicOperator
      width: 160px

  &.sensor-select, &.relay-select
    margin-bottom: 3px
    margin-top: 3px
    .option-list
      width: 240px
      text-align: left
      max-height: 250px
      overflow-y: auto

.node-select
  &.sensor-type, &.sensor-select
    .icon
      color: $sensor-blue
      &.dropdown-caret
        fill: $sensor-blue
  &.generatorType
    .icon
      color: $generator-blue
      &.dropdown-caret
        fill: $generator-blue
  &.mathOperator
    .icon
      color: $math-green
      &.dropdown-caret
        fill: $math-green
  &.transformOperator
    .icon
      color: $transform-green
      &.dropdown-caret
        fill: $transform-green
  &.logicOperator
    .icon
      color: $logic-green
      &.dropdown-caret
        fill: $logic-green
  &.relay-select
    .icon
      color: $relay-orange
      &.dropdown-caret
        fill: $relay-orange

  .label
    &.unselected
      font-style: italic
      font-size: 11px
      margin-left: 0px
