.node-graph-container
  display: flex
  flex-direction: column
  color: white

  .graph-button
    position: relative
    width: 34px
    height: 24px
    background-color: white
    border-radius: 3px
    border: 2px solid #FFF9
    box-sizing: border-box

    svg
      width: 24px
      height: 24px
      left: 3px
      top: -1px
      z-index: 1