.node-graph-container
  display: flex
  flex-direction: column
  color: white

  .graph-button
    margin-top: 5px
    width: 60px
    height: 15px

  .node-graph
    padding: 5px 5px 0 0
    margin-top: 5px
    width: 178px
    background-color: white