.sensor-value
  display: flex

  .value-container
    width: 63px
    border-radius: 3px 0 0 3px

  .units-container
    width: 37px
    height: 24px
    line-height: 24px
    background-color: #c6d6f6
    border-radius: 0 12px 12px 0
