.text-container
  display: flex
  flex-direction: row
  color: white
  line-height: 24px
  margin-top: 3px
  margin-bottom: 3px
  position: relative

  .text-input
    border-radius: 3px

  .text-label
    color: white
    margin-right: 5px

  .color-dot
    position: absolute
    top: 6px
    right: 6px
    width: 10px
    height: 10px
    border-radius: 5.5px
    background-color: #d51eff