.value-container
  font-size: 18px
  text-align: right
  border-radius: 3px
  padding: 1px 5px 1px 1px
  width: 106px
  vertical-align: middle
  box-sizing: border-box
  &.math, &.logic, &.transform
    font-size: 16px
    &.medium
      font-size: 14px
    &.small
      font-size: 12px
    &.smallest
      font-size: 10px
