.value-container
  color: black
  background-color: white
  font-size: 11px
  text-align: right
  border-radius: 3px
  padding: 1px 10px 1px 1px
  width: 100px
  height: 24px
  line-height: 24px
  vertical-align: middle
  box-sizing: border-box
