.node-graph-container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  color: white

  .graph-button
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    padding: 3px
    box-sizing: border-box
    border-radius: 1px
    border: 2px solid white
    background-color: white

    svg
      width: 14px
      height: 14px
      z-index: 1