// application-specific styling goes here

#rightNavTab-learning-log
  color: #025f50
  background-color: #c9e3de
  border-color: #b7dad3

  &.active
    color: white
    background-color: #83bab0

#rightNavTab-supports
  color: #021860
  background-color: #86b9df
  border-color: #e8f2f9

  &.active
    color: white
    background-color: #69a5d5

.document
    .titlebar
        .actions
            .icon-copy
                margin-left: 5px

                .copy
                    background-image: url("../assets/icons/copy/copy.svg")

                    &:hover
                        background-image: url("../assets/icons/copy/copy-hover.svg")

                    &:active
                        background-image: url("../assets/icons/copy/copy-active.svg")
