@import '../../vars.sass';

.text-tool-wrapper {
  width: 100%;
  height: 100%;

  .text-tool {
    width: 100%;
    min-height: 52px;
    text-align: left;
    padding: 3px;
  }

  .tool-tile.fixed & {
    background-color: $workspace-teal-light-7;
  }
}
