@import '../../vars';

.text-tool-wrapper {
  width: 100%;
  height: 100%;

  .text-tool {
    width: 100%;
    min-height: 52px;
    text-align: left;
    padding: 3px;
  }

  .tool-tile.fixed & {
    background-color: $workspace-teal-light-7;
  }

  .highlight-chip {
    background: #f7e58f;
    border: solid 0.8px #3f3f3f;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: "PTSans-Narrow";
    font-size: 14px;
    color: #3f3f3f;
    user-select: none;
    margin: 0;
    white-space: nowrap;

    &.slate-selected {
      outline: 2px solid #87cefa;
    }
  }

}
