.workspace {
  width: 100%;
  overflow: hidden;

  .centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.2em;

    &.muted {
      color: #888;
    }
  }

  .config {
    font-size: 0.9rem;
    height: 100%;
    overflow: auto;
    overflow: hidden;

    &>* {
      padding: 10px;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        text-align: left;
        white-space: nowrap;
        padding-right: 10px;
      }
      td {
        padding-right: 10px;
        text-align: center;
        white-space: nowrap;

        &:last-child {
          padding-right: 0;
        }
      }
      td.left {
        text-align: left;
      }
      td.wide {
        width: 100%;
      }
    }

    label, .sectionLabel {
      display: block;
      font-weight: bold;
    }

    .sectionLabel {
      margin-top: 20px;
    }

    input[type="text"] {
      width: 100%;
      box-sizing: border-box;
      margin-top: 4px;
      padding: 6px;
      font-size: 1em;
    }

    .bottomButtons {
      margin: 20px 0;
      text-align: left;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
