.workspace {
  width: 100%;
  overflow: hidden;

  &.overflowing {
    overflow: auto;
  }

  .horizontalGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .vertical {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .left {
    text-align: left;
  }
  .wide {
    width: 100%;
  }
  .narrow {
    white-space: nowrap;
    width: 1%;
  }

  .centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.2em;

    &.muted {
      color: #888;
    }
  }

  .config {
    font-size: 0.9rem;
    height: 100%;

    &>* {
      padding: 10px;
      overflow: auto;
    }

    &>form>* {
      margin-bottom: 10px;
    }

    .form-error {
      color: red;
      margin-bottom: 10px;
    }

    button.danger {
      background: #ff4d4f;
      color: white;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        text-align: left;
        white-space: nowrap;
        padding-right: 10px;
      }
      td {
        padding-right: 10px;
        text-align: center;
        white-space: nowrap;

        &.left {
          text-align: left;
        }

        .stacked {
          display: flex;
          flex-direction: column;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      &.containerChildrenTable {
        width: 100%;
        table-layout: auto;

        td {
          text-align: left;
        }
        .titleColumn {
          width: 100%;
        }
        .reorderColumn {
          // Force the table to minimize the width of this column
          width: 1%;
          padding-left: 20px;
        }
      }
    }

    label, .sectionLabel {
      display: block;
      font-weight: bold;
    }

    .sectionLabel {
      margin-top: 20px;
    }

    input[type="text"], input[type="number"], select, textarea {
      width: 100%;
      box-sizing: border-box;
      margin-top: 4px;
      padding: 6px;
      font-size: 1em;
    }

    textarea {
      height: 80px;
    }

    .bottomButtons {
      margin: 20px 0;
      text-align: left;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
