<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="description" content="<%= pageDescription %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Math&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Symbols+2&display=swap" rel="stylesheet">
    <script>
      var hostPath = window.location.hostname + window.location.pathname,
          isLocalhost = /(localhost|127\.0\.0\.1)/i.test(window.location.hostname),
          isBranchOrTag = <%= branchTagRegEx %>.test(hostPath),
          isMasterBranch = <%= masterBranchRegEx %>.test(hostPath),
          isAuthed = !/appMode=(dev|demo|qa|test)/.test(window.location.search),
          isDemo = /appMode=demo/.test(window.location.search),
          isProduction = !isLocalhost && !isBranchOrTag && isAuthed;
      var _rollbarConfig = {
          accessToken: "<%= rollbarAccessToken %>",
          captureUncaught: true,
          captureUnhandledRejections: true,
          enabled: isProduction || isMasterBranch,
          payload: {
            environment: isProduction ? "production" : "staging"
          }
      };
      // Show some informative messages to users about what is happening while the application loads.
      // Any javascript code can write a message into sessionStorage.
      window.loadingMeasurements = {};

      const requestStart = performance.getEntriesByType('navigation')[0].requestStart || performance.now();
      sessionStorage.setItem('loading-time-start', requestStart);
      const loadingStartTime = Math.floor(performance.now()-requestStart);
      if ((localStorage.getItem("debug")||"").indexOf('loading') > -1) {
        console.log(`Loading @${loadingStartTime}ms: Loading the application`);
      }
      loadingMeasurements["Loading the application Start"] = loadingStartTime;
      sessionStorage.setItem('loading-message', 'Loading the application<br/>');
      window.loadingMessageTimer = setInterval(function() {
        var elt = document.getElementById('loading-message');
        var msg = sessionStorage.getItem('loading-message');
        if (elt) {
          elt.innerHTML = msg;
        } else {
          clearInterval(window.loadingMessageTimer);
        }
      }, 500);

      // Rollbar Snippet
      if (_rollbarConfig.enabled) {
        <%= rollbarSnippet %>
      }
      // End Rollbar Snippet
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G4BPTMRZ4H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      // ---------- Send problem and unit to GA -----------
      function getUrlParam(paramName) {
        const params = new URLSearchParams(window.location.search);
        return params.get(paramName);
      }
      const problem = getUrlParam('problem');
      const unit = getUrlParam('unit') || "sas";

      gtag('config', 'G-G4BPTMRZ4H', {
        'problem': problem,
        'unit': unit
      });
      gtag('event', 'page_view', { //these will be parameters insde of the page_view event
        'problem': problem,
        'unit': unit
      });

      // ---------- Send loadingStartTime to GA -----------
      gtag('event', 'loadingStartTime', {
        'event_category': 'Performance',
        'event_label': 'Custom Metric - performance.now() - requestStart',
        'value': loadingStartTime
      });
    </script>
  </head>
  <body>
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-unshare" viewBox="0 0 32 32">
          <title>unshare</title>
          <path d="M22.7 7.7l-1.2 2.5c1.5 1.5 2.5 3.5 2.5 5.8 0 4.4-3.6 8-8 8-0.3 0-0.6 0-0.9-0.1l-0.9 1.9c0.6 0.1 1.2 0.1 1.8 0.1 9 0 15-8.9 15-10 0-0.7-3.2-5.6-8.3-8.2z"></path>
          <path d="M16 22c0 0 0 0 0 0 3.3 0 6-2.7 6-6 0-1.5-0.5-2.8-1.4-3.8l-4.6 9.8z"></path>
          <path d="M19.7 3.3l-1.4 3c-0.7-0.2-1.5-0.3-2.3-0.3-9 0-15 8.9-15 10 0 0.8 3.3 6 8.8 8.5l-1.1 2.3 2.8 1.3 11-23.5-2.8-1.3zM8 16c0-4.4 3.6-8 8-8 0.5 0 1 0 1.4 0.1l-0.9 1.9c-0.1 0-0.3 0-0.5 0-1.5 0-2.8 0.5-3.8 1.4 0.4-0.2 0.8-0.4 1.3-0.4 0.9 0 1.6 0.4 2.1 1.1l-1.8 3.9c-0.1 0-0.2 0-0.3 0-1.4 0-2.5-1.1-2.5-2.5 0-0.5 0.1-1 0.4-1.3-0.9 1-1.4 2.4-1.4 3.8 0 1.7 0.7 3.2 1.8 4.2l-0.9 1.9c-1.8-1.4-2.9-3.6-2.9-6.1z"></path>
        </symbol>
        <symbol id="icon-edit" viewBox="0 0 19 19">
          <title>edit</title>
          <path d="M15.6 6.6l-1.2 1.2c-.1.1-.3.1-.4 0L11.2 5c-.1-.1-.1-.3 0-.4l1.2-1.2c.5-.5 1.2-.5 1.7 0l1.5 1.5c.5.5.5 1.2 0 1.7zM10.2 5.5l-6.7 6.7-.5 3.1c-.1.4.3.8.7.7l3.1-.5 6.7-6.7c.1-.1.1-.3 0-.4l-2.8-2.8c-.2-.2-.4-.2-.5-.1z"/>
        </symbol>
        <symbol id="icon-copy-only" viewBox="0 0 19 19">
            <title>copy-only</title>
          <path d="M6 14c-.6 0-1-.4-1-1V7H4c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1v-1H6z"/>
          <path d="M15 12H8c-.6 0-1-.4-1-1V4c0-.6.4-1 1-1h7c.6 0 1 .4 1 1v7c0 .6-.4 1-1 1z"/>
        </symbol>
        <symbol id="icon-text-tool" viewBox="0 0 36 34">
          <title>text-tool</title>
          <path d="M27,8c0.5,0,1,0.5,1,1v16c0,0.5-0.5,1-1,1H9c-0.5,0-1-0.5-1-1V9c0-0.5,0.5-1,1-1H27 M27,6H9C7.3,6,6,7.3,6,9v16c0,1.6,1.3,3,3,3h18c1.6,0,3-1.4,3-3V9C30,7.3,28.6,6,27,6L27,6z"/>
          <path d="M24.8,24h-2c-0.2,0-0.4-0.1-0.6-0.2c-0.1-0.1-0.3-0.3-0.3-0.4l-1-2.9h-5.8l-1,2.9c-0.1,0.1-0.2,0.3-0.3,0.4c-0.2,0.1-0.3,0.2-0.6,0.2h-2l5.5-14h2.7L24.8,24z M15.8,18.7h4.5c0,0-2.2-6-2.3-6.3C17.9,12.7,15.8,18.7,15.8,18.7z"/>
        </symbol>
        <symbol id="icon-publish" viewBox="0 0 40 36">
          <title>publish</title>
          <path d="M32 5h-8.5l4.3 5H33v18c0 .6-.4 1-1 1H8c-.6 0-1-.4-1-1V10h5.2l4.3-5H8C6.3 5 5 6.3 5 8v20c0 1.7 1.3 3 3 3h24c1.7 0 3-1.3 3-3V8c0-1.7-1.3-3-3-3z"/>
          <path d="M29.1 12c.1.3.1.7.1 1h.8v13H10V13h.8c0-.3 0-.7.1-1H9v15h22V12h-1.9z"/>
          <path d="M27.1 12.3L20 4l-7.1 8.3c-.3.4 0 .9.4.9h2.2v3.9c0 .3.2.5.5.5h8c.3 0 .5-.2.5-.5v-3.9h2.2c.4 0 .7-.5.4-.9z"/>
        </symbol>
        <symbol id="icon-star" viewBox="0 0 24 24">
          <title>Star</title>
          <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
        </symbol>
        <symbol id="icon-outline-star" viewBox="0 0 24 24">
          <title>Star</title>
          <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" stroke="#88a658" stroke-width="2"/>
        </symbol>
        <symbol id="icon-delete-document" viewBox="0 0 36 34">
          <title>Delete</title>
          <path d="M24.4 12L23 10.6c-.2-.2-.5-.2-.7 0L18 14.9l-4.2-4.2c-.2-.2-.5-.2-.7 0L11.6 12c-.2.2-.2.5 0 .7l4.2 4.2-4.2 4.2c-.2.2-.2.5 0 .7l1.4 1.4c.2.2.5.2.7 0l4.2-4.2 4.2 4.2c.2.2.5.2.7 0l1.4-1.4c.2-.2.2-.5 0-.7L20.1 17l4.2-4.2c.3-.2.3-.6.1-.8z"/>
          <path d="M27 6H9C7.4 6 6 7.3 6 9v16c0 1.6 1.4 3 3 3h18c1.7 0 3-1.4 3-3V9c0-1.7-1.3-3-3-3zm1 19c0 .5-.5 1-1 1H9c-.5 0-1-.5-1-1V9c0-.5.5-1 1-1h18c.5 0 1 .5 1 1v16z"/>
        </symbol>
      </defs>
    </svg>
    <div id="app">
      <p id="loading-message" class="center progress"></p>
    </div>
  </body>
</html>
