@import "../vars";

.toggle-control {
  box-sizing: content-box;
  width: 34px;
  height: 14px;
  cursor: pointer;

  .track {
    width: 34px;
    height: 14px;
    border-radius: 7px;
    background-color: $charcoal-light-1;

    &.toggle-on {
      background-color: $workspace-teal;
    }
  }

  .ball {
    position: relative;
    top: -17px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid $charcoal-light-1;
    background-color: $workspace-teal-light-6;
    transition-property: transform;
    transition-duration: .25s;

    &:hover {
      background-color: $workspace-teal-light-4;
    }
    &:active {
      background-color: $workspace-teal;
      border-color: white;
    }

    &.toggle-on {
      transform: translate(17px, 0);
      background-color: $workspace-teal;
      border-color: white;
    }

    &:hover.toggle-on {
      background-color: $workspace-teal-light-4;
    }
    &:active.toggle-on {
      background-color: $workspace-teal-light-6;
      border-color: $charcoal-light-1;
    }

  }

}
