@import "../vars";

.join {
  width: 380px;
  border: 1px solid #333;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);

  .join-title {
    background-color: #3E90AC;
    color: #fff;
    font-size: 13px;
    padding: $half-padding;
  }

  .join-content {
    padding: $double-padding;

    .welcome {
      font-weight: bold;
      margin-bottom: $margin;
    }

    .groups {
      .group-list {
        margin: 0 0 $double-margin 0;
        float: left;

        .group {
          width: 63px;
          min-height: 76px;
          background-color: #ccc;
          float: left;
          margin: $margin $margin 0 0;
          cursor: pointer;
          font-size: 10px;

          .group-title {
            background-color: #3E90AC;
            color: #fff;
            text-align: center;
            padding: $half-padding;
          }

          .group-users {
            padding: $half-padding;

            .user {
              background-color: $id-green;
              padding: $half-padding;
              float: left;
              margin: $quarter-margin;

              &.disconnected {
                background-color: $charcoal-light-4;
              }
            }

            &::after {
              content: "";
              display: block;
              clear: both;
              margin-top: $half-margin;
            }
          }
        }
      }
    }

    .create-group {
      clear: both;

      div {
        margin: $half-margin 0;
      }

      select {
        margin-right: $margin;
        padding: $half-padding;
      }

      .button {
        border: 1px solid #313131;
        padding: $half-padding $padding;
        margin-top: $half-margin;
        font-size: 14px;
        background-color: #dddddd;
      }
    }
  }
}
