@import "../vars";

$group-card-min-width: 130px;
$group-card-empty-height: 38px;

.group-card {
  background-color: $charcoal-light-7;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  min-width: $group-card-min-width;
  overflow: hidden;

  &.clickable {
    background-color: $workspace-teal-light-7;
    cursor: pointer;
    outline: solid 1.5px $charcoal-light-1;

    &:focus-visible {
      outline: solid 1.5px $workspace-teal;
    }

    &:hover {
      background-color: $workspace-teal-light-6;

      .group-card__header {
        background-color: $workspace-teal-light-3;
      }
    }

    &:active {
      background-color: $workspace-teal-light-5;

      .group-card__header {
        background-color: $workspace-teal-light-2;
      }
    }

    .group-card__header {
      background-color: $workspace-teal-light-4;
    }
  }

  &.no-group {
    .group-card__header {
      background-color: $charcoal-light-5;
    }
  }

  &.dragging-over {
    background-color: $workspace-teal-light-6;

    .group-card__header {
      background-color: $workspace-teal-light-3;
    }
  }

  .group-card__header {
    background-color: $charcoal-light-4;
    color: $charcoal-dark-1;
    font-size: 13px;
    padding: $half-padding $padding;
    text-align: center;
  }

  .group-card__content {
    min-height: $group-card-empty-height;
    overflow-y: auto;
    padding: $half-padding;
  }

  .group-card__students {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .group-card__new-group-icon {
    align-items: center;
    color: $charcoal-light-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $group-card-empty-height;

    .group-card__plus-icon {
      height: 24px;
      margin-top: $quarter-padding;
      width: 24px;
    }

    .group-card__new-group-label {
      color: $charcoal-dark-1;
      font-size: 12px;
      margin-top: $half-padding;
      margin-bottom: 7px;
    }
  }
}
