@import "../vars";

.student-card {
  align-items: center;
  background: white;
  cursor: default;
  display: flex;
  font-size: 12px;
  height: 22px;
  line-height: 1;
  max-width: 125px;
  padding: 3px 5px;

  &.draggable, &[tabindex="0"] {
    &:hover {
      background-color: $workspace-teal-light-4;
      outline: solid 1px $charcoal-light-1;

      &.connected {
        .student-card__status {
          outline: solid 1px white;
        }
      }
    }

    &:focus-visible {
      background-color: $workspace-teal-light-4;
      outline: solid 1px $charcoal-light-1;

      &.connected {
        .student-card__status {
          outline: solid 1px white;
        }
      }
    }
  }

  &.selected {
    background-color: $workspace-teal-light-4;
    border: solid 1px $charcoal-light-1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);

    &.connected {
      .student-card__status {
        outline: solid 1px white;
      }
    }
  }

  &.draggable {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &.dragging {
    opacity: 0.5;
  }

  &.connected {
    .student-card__status {
      background-color: $connected-green;
      outline: solid 1px $connected-green-dark;
    }
  }

  &.disconnected {
    .student-card__status {
      background-color: transparent;
    }
  }
}

.student-card__status {
  box-sizing: content-box;
  flex-shrink: 0;
  height: 8px;
  margin-right: 6px;
  width: 8px;
}

.student-card__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
