@import "../vars";

.marker-toolbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 46px;
  left: 50px;
  height: $toolbar-button-height + 4px;
  border: $toolbar-border;
  border-radius: $toolbar-border-radius $toolbar-border-radius $toolbar-border-radius 0;
  overflow: hidden;
  z-index: $toolbar-z-index;
  background-color: white;
  &.my-work {
    border-color: $workspace-teal;
  }
  &.class-work {
    border-color: $workspace-teal;
  }
  &.sort-work, &.student-work {
    border-color: $charcoal;
  }
  &.learning-log {
    border-color: $learninglog-green;
  }

  .add-marker-button, .delete-marker-button {
    stroke-width: 2px;
    &.my-work {
      background-color: $workspace-teal-light-9;
      &:hover {
        background-color: $workspace-teal-light-6;
      }
      &:active {
        background-color: $workspace-teal-light-4;
      }
      &.selected{
        background-color: $workspace-teal-light-4;
      }
      path:first-of-type {
        stroke: $workspace-teal-dark-1;
        fill: $workspace-teal-light-4;
      }
      path:last-of-type {
        fill: $workspace-teal-dark-1;
      }
    }
    &.class-work {
      background-color: $workspace-teal-light-6;
      &:hover {
        background-color: $workspace-teal-light-5;
      }
      &:active {
        background-color: $workspace-teal-light-3;
      }
      &.selected {
        background-color: $workspace-teal-light-3;
      }
      path:first-of-type {
        stroke: $workspace-teal-dark-1;
        fill: $workspace-teal-light-3;
      }
      path:last-of-type {
        fill: $workspace-teal-dark-1;
      }
    }
    &.sort-work, &.student-work {
      background-color: $charcoal-light-9;
      &:hover {
        background-color: $charcoal-light-6;
      }
      &:active {
        background-color: $charcoal-light-4;
      }
      &.selected {
        background-color: $charcoal-light-4;
      }
      path:first-of-type {
        stroke: $charcoal-dark-1;
        fill: $charcoal-light-4;
      }
      path:last-of-type {
        fill: $charcoal-dark-1;
      }
    }
    &.learning-log {
      background-color: $learninglog-green-light-9;
      &:hover {
        background-color: $learninglog-green-light-6;
      }
      &:active {
        background-color: $learninglog-green-light-4;
      }
      &.selected {
        background-color: $learninglog-green-light-4;
      }
      path:first-of-type {
        stroke: $learninglog-green-dark-1;
        fill: $learninglog-green-light-4;
      }
      path:last-of-type {
        fill: $learninglog-green-dark-1;
      }
    }

    &.disabled {
      opacity: 0.35;
      cursor: none;
      pointer-events: none;
    }
  }
  .comment-marker-button {
    &.my-work {
      background-color: $workspace-teal-light-9;
      &:hover {
        background-color: $workspace-teal-light-6;
      }
      &:active {
        background-color: $workspace-teal-light-4;
      }
      path {
        fill: $workspace-teal-dark-1;
      }
    }
    &.class-work {
      background-color: $workspace-teal-light-6;
      &:hover {
        background-color: $workspace-teal-light-5;
      }
      &:active {
        background-color: $workspace-teal-light-3;
      }
      path {
        fill: $workspace-teal-dark-1;
      }
    }
    &.sort-work, &.student-work {
      background-color: $charcoal-light-9;
      &:hover {
        background-color: $charcoal-light-6;
      }
      &:active {
        background-color: $charcoal-light-4;
      }
      path {
        fill: $charcoal-dark-1;
      }
    }
    &.learning-log {
      background-color: $learninglog-green-light-9;
      &:hover {
        background-color: $learninglog-green-light-6;
      }
      &:active {
        background-color: $learninglog-green-light-4;
      }
      path {
        fill: $learninglog-green-dark-1;
      }
    }
    &.disabled {
      opacity: 0.35;
      cursor: none;
      pointer-events: none;
    }
  }
}
