@import "../vars";

.playback-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 49px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1.5px solid;
  border-left: none;
  border-right: none;
  border-bottom: none;

  border-top-right-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  &.show-control {
    width: 100%;
    //border-right: none;
    border-top-right-radius: 0px;
  }
  &.disabled {
    opacity: 35%;
    cursor: auto;
    pointer-events: none;
  }
  &.my-work {
    border-color: $workspace-teal;
  }
  &.class-work {
    border-color: $workspace-teal;
  }
  &.sort-work {
    border-color: $classwork-purple;
  }
  &.student-work {
    border-color: $charcoal;
  }
  &.learning-log {
    border-color: $learninglog-green;
  }
  &.problems {
    border-color: $problem-orange;
  }

  &.my-work {
    background-color: $workspace-teal-light-8;
  }
  &.class-work {
    background-color: $workspace-teal-light-5;
  }
  &.sort-work, &.student-work {
    background-color: $charcoal-light-8;
  }
  &.learning-log {
    background-color: $learninglog-green-light-8;
  }
  &.problems {
    background-color: $problem-orange-light-8;
  }

  .playback-toolbar-button-component {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 42px;
    .playback-toolbar-button {
      width: 36px;
      height: 42px;
      padding: 4px 2px 5px 1px;
      cursor: pointer;
      &.my-work {
        background-color: $workspace-teal-light-4;
        &:hover {
          background-color: $workspace-teal-light-3;
        }
        &:active {
          background-color: $workspace-teal-light-2
        }
      }
      &.class-work {
        border-color: $workspace-teal;
        background-color: $workspace-teal-light-4;
        &:hover {
          background-color: $workspace-teal-light-3;
        }
        &:active {
          background-color: $workspace-teal-light-2;
        }
      }
      &.sort-work {
        border-color: $classwork-purple;
        background-color: $classwork-purple-light-5;
        &:hover {
          background-color: $classwork-purple-light-4;
        }
        &:active {
          background-color: $classwork-purple-light-2;
        }
      }
      &.student-work {
        background-color: $charcoal-light-4;
        &:hover {
          background-color: $charcoal-light-3;
        }
        &:active {
          background-color: $charcoal-light-2
        }
      }
      &.learning-log {
        background-color: $learninglog-green-light-5;
        &:hover {
          background-color: $learninglog-green-light-4;
        }
        &:active {
          background-color: $learninglog-green-light-2;
        }
      }
      &.problems {
        background-color: $problem-orange-light-5;
        &:hover {
          background-color: $problem-orange-light-4;
        }
        &:active {
          background-color: $problem-orange-light-2;
        }
      }
      &.show-control {
        &.my-work {
          background-color: $workspace-teal-light-2;
          &:hover {
            background-color: $workspace-teal-light-3;
          }
          &:active {
            background-color: $workspace-teal-light-2
          }
        }
        &.class-work {
          background-color: $workspace-teal-light-3;
          &:hover {
            background-color: $workspace-teal-light-4;
          }
          &:active {
            background-color: $workspace-teal-light-2;
          }
        }
        &.sort-work {
          background-color: $classwork-purple-light-4;
          &:hover {
            background-color: $classwork-purple-light-5;
          }
          &:active {
            background-color: $classwork-purple-light-2;
          }
        }
        &.student-work {
          background-color: $charcoal-light-2;
          &:hover {
            background-color: $charcoal-light-3;
          }
          &:active {
            background-color: $charcoal-light-2
          }
        }
        &.learning-log {
          background-color: $learninglog-green-light-2;
          &:hover {
            background-color: $learninglog-green-light-4;
          }
          &:active {
            background-color: $learninglog-green-light-2;
          }
        }
        &.problems {
          background-color: $problem-orange-light-4;
          &:hover {
            background-color: $problem-orange-light-5;
          }
          &:active {
            background-color: $problem-orange-light-2;
          }
        }
      }
    }
    &.disabled {
      opacity: 35%;
      cursor: auto;
    }
  }
}
