@import "../vars";

/* COLORS: think all the color spots need a `.problems` defined and whatever else for the charcoal one

.my-work        teal        works
.class-work     purple      works     "Published Work"
.student-work   charcoal
.learning-log   green
.problem        orange
 arggg these are all crazy and confusing and I need to sort them out


*/

// outermost rectangle, exapnds to fit
.playback-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 50px;
  position: absolute;
  bottom: -3px;
  left: 1px;
  border: 2px solid;
  border-top-right-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  &.show-control {
    width: calc(100% - 2px);
    //border-right: none;
    border-top-right-radius: 0px;
  }
  &.disabled {
    opacity: 35%;
    cursor: auto;
    pointer-events: none;
  }
  &.my-work {
    border-color: $workspace-teal;
  }
  &.class-work {
    border-color: $classwork-purple
  }
  &.student-work {
    border-color: $charcoal;
    bottom: -5px;
    left: -2px;
  }
  &.learning-log {
    border-color: $learninglog-green;
  }

  // "time travel back" icon
  .playback-toolbar-button-component {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 42px;

    .playback-toolbar-button {
      width: 36px;
      height: 42px;
      padding: 4px 2px 5px 1px;
      cursor: pointer;
      &.my-work {
        background-color: $workspace-teal-light-4;
        &:hover {
          background-color: $workspace-teal-light-3;
        }
        &:active {
          background-color: $workspace-teal-light-2
        }
      }
      &.class-work {
        border-color: $classwork-purple;
        background-color: $classwork-purple-light-5;
        &:hover {
          background-color: $classwork-purple-light-4;
        }
        &:active {
          background-color: $classwork-purple-light-2;
        }
      }
      &.student-work {
        background-color: $charcoal-light-4;
        &:hover {
          background-color: $charcoal-light-3;
        }
        &:active {
          background-color: $charcoal-light-2
        }
      }
      &.learning-log {
        background-color: $learninglog-green-light-5;
        &:hover {
          background-color: $learninglog-green-light-4;
        }
        &:active {
          background-color: $learninglog-green-light-2;
        }
      }
      &.show-control {
        &.my-work {
          background-color: $workspace-teal-light-2;
          &:hover {
            background-color: $workspace-teal-light-3;
          }
          &:active {
            background-color: $workspace-teal-light-2
          }
        }
        &.class-work {
          background-color: $classwork-purple-light-2;
          &:hover {
            background-color: $classwork-purple-light-4;
          }
          &:active {
            background-color: $classwork-purple-light-2;
          }
        }
        &.student-work {
          background-color: $charcoal-light-2;
          &:hover {
            background-color: $charcoal-light-3;
          }
          &:active {
            background-color: $charcoal-light-2
          }
        }
        &.learning-log {
          background-color: $learninglog-green-light-2;
          &:hover {
            background-color: $learninglog-green-light-4;
          }
          &:active {
            background-color: $learninglog-green-light-2;
          }
        }
      }
    }
    &.show-control {
      &.my-work {
        background-color: $workspace-teal-light-2;
      }
      &.class-work {
        background-color: $classwork-purple-light-2;
      }
      &.student-work {
        background-color: $charcoal-light-2;
      }
      &.learning-log {
        background-color: $learninglog-green-light-2;
      }
    }
    &.disabled {
      opacity: 35%;
      cursor: auto;
    }
  }
}
