@import "../vars";
$border-radius-base: 6px;

.playback-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 5px);
  height: 46px;

  &.loading {
    justify-content: center;
  }

  &.my-work {
    background-color: $workspace-teal-light-8;
  }
  &.class-work {
    background-color: $workspace-teal-light-5;
  }
  &.sort-work, &.student-work {
    background-color: $charcoal-light-8;
  }
  &.learning-log {
    background-color: $learninglog-green-light-8;
  }
  &.problems {
    background-color: $problem-orange-light-8;
  }

  // line between time travel button and play button
  .control-separator {
    width: $canvas-separator-width;
    height: 46px;
    bottom: 2px;

    &.my-work {
      background-color: $workspace-teal-light-4;
    }
    &.class-work {
      background-color: $workspace-teal-light-3;
    }
    &.sort-work, &.student-work {
      background-color: $charcoal-light-4;
    }
    &.learning-log {
      background-color: $learninglog-green-light-4;
    }
    &.problems {
      background-color: $problem-orange-light-4;
    }
  }

  .play-button, .pause-button {
    cursor: pointer;
    width: 42px;
    height: 46px;
    padding: 9px 2px 5px 5px;
    &.disabled {
      opacity: 35%;
      cursor: auto;
      pointer-events: none;
    }

    &.my-work {
      background-color: $workspace-teal-light-8;
      stroke: $workspace-teal-dark-1;
      fill: $workspace-teal-light-8;
      &:hover {
        background-color: $workspace-teal-light-4;
        fill: $workspace-teal-light-4;
      }
      &:active {
        background-color: $workspace-teal-light-2;
        fill: $workspace-teal-light-2;
      }
      path {
        fill: $workspace-teal-dark-1;
      }
      &.playing {
        background-color: $workspace-teal-light-2;
        fill: $workspace-teal-light-2;
        &:hover {
          background-color: $workspace-teal-light-4;
          fill: $workspace-teal-light-4;
        }
      }
    }
    &.class-work {
      background-color: $workspace-teal-light-5;
      fill:  $workspace-teal-light-5;
      stroke: $workspace-teal-dark-1;
      &:hover {
        background-color: $workspace-teal-light-3;
        fill: $workspace-teal-light-3;
      }
      &:active {
        background-color: $workspace-teal-light-2;
        fill: $workspace-teal-light-2;
      }
      path {
        fill: $workspace-teal-dark-1;
      }
      &.playing {
        background-color: $workspace-teal-light-2;
        fill: $workspace-teal-light-2;
        &:hover {
          background-color: $workspace-teal-light-3;
          fill: $workspace-teal-light-3;
        }
      }
    }
    &.sort-work, &.student-work {
      background-color: $charcoal-light-8;
      fill: $charcoal-light-8;
      stroke: $charcoal-dark-1;
      &:hover {
        background-color: $charcoal-light-4;
        fill: $charcoal-light-4;
      }
      &:active {
        background-color: $charcoal-light-2;
        fill: $charcoal-light-2;
      }
      path {
        fill: $charcoal-dark-1;
      }
      &.playing {
        background-color: $charcoal-light-2;
        fill: $charcoal-light-2;
        &:hover {
          background-color: $charcoal-light-4;
          fill: $charcoal-light-4;
        }
      }
    }
    &.learning-log {
      background-color: $learninglog-green-light-5;
      fill: $learninglog-green-light-5;
      stroke: $learninglog-green-dark-1;
      &:hover {
        background-color: $learninglog-green-light-4;
        fill: $learninglog-green-light-4;
      }
      &:active {
        background-color: $learninglog-green-light-2;
        fill: $learninglog-green-light-2;
      }
      path {
        fill: $learninglog-green-dark-1;
      }
      &.playing {
        background-color: $learninglog-green-light-2;
        fill: $learninglog-green-light-2;
        &:hover {
          background-color: $learninglog-green-light-4;
          fill: $learninglog-green-light-4;
        }
      }
    }
    &.problems {
      background-color: $problem-orange-light-8;
      fill: $problem-orange-light-8;
      stroke: $problem-orange-dark-1;
      &:hover {
        background-color: $problem-orange-light-4;
        fill: $problem-orange-light-4;
      }
      &:active {
        background-color: $problem-orange-light-2;
        fill: $problem-orange-light-2;
      }
      path {
        fill: $problem-orange-dark-1;
      }
      &.playing {
        background-color: $problem-orange-light-2;
        fill: $problem-orange-light-2;
        &:hover {
          background-color: $problem-orange-light-4;
          fill: $problem-orange-light-4;
        }
      }
    }
  }
}

.slider-component {
  width: calc(100% - 150px);
  height: 46px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  position: relative;

  .marker-component {
    height: 20px;
    width: calc(100% - 3px);
    position: absolute;
    right:0;
    &.my-work {
      background-color: $workspace-teal-light-5;
    }
    &.class-work {
      background-color: $workspace-teal-light-4;
    }
    &.sort-work, &.student-work {
      background-color: $charcoal-light-5;
    }
    &.learning-log {
      background-color: $learninglog-green-light-5;
    }
    &.problems {
      background-color: $problem-orange-light-5;
    }
  }

  .slider-container {
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
  }

  .marker-container {
    position: absolute;
    top: 0px;
    .marker-id {
      position: absolute;
      top: 1px;
      left: 7px;
      font-size: 11px;
    }
    &.my-work {
      path:first-of-type {
        fill: $workspace-teal-dark-1;
      }
      path:last-of-type {
        fill: $workspace-teal-light-5;
        stroke: $workspace-teal-dark-1;
        stroke-width: 2px;
      }
      &.selected {
        color: white;
        path:last-of-type {
          fill: $workspace-teal-dark-1;
        }
      }
    }
    &.class-work {
      path:first-of-type {
        fill: $workspace-teal-dark-1;
      }
      path:last-of-type {
        fill: $workspace-teal-light-4;
        stroke: $workspace-teal-dark-1;
        stroke-width: 2px;
      }
      &.selected {
        color: white;
        path:last-of-type {
          fill: $workspace-teal-dark-1;
        }
      }
    }
    &.sort-work, &.student-work {
      path:first-of-type {
        fill: $charcoal-dark-1;
      }
      path:last-of-type {
        fill: $charcoal-light-5;
        stroke: $charcoal-dark-1;
        stroke-width: 2px;
      }
      &.selected {
        color: white;
        path:last-of-type {
          fill:  $charcoal-dark-1;
        }
      }
    }
    &.learning-log {
      path:first-of-type {
        fill: $learninglog-green-dark-1;
      }
      path:last-of-type {
        fill: $learninglog-green-light-5;
        stroke: $learninglog-green-dark-1;
        stroke-width: 2px;
      }
      &.selected {
        color: white;
        path:last-of-type {
          fill:  $learninglog-green-dark-1;
        }
      }
    }
    &.problems {
      path:first-of-type {
        fill: $problem-orange-dark-1;
      }
      path:last-of-type {
        fill: $problem-orange-light-5;
        stroke: $problem-orange-dark-1;
        stroke-width: 2px;
      }
      &.selected {
        color: white;
        path:last-of-type {
          fill:  $problem-orange-dark-1;
        }
      }
    }
  }

  .comment-markers-container {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 100%;
  }

  .rc-slider {
    position: relative;
    width: 100%;
    height: 14px;
    padding: 12px 0;
    margin: 0 10px 0 10px;
    border-radius: $border-radius-base;
    touch-action: none;
    box-sizing: border-box;

    &-rail {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #949494;
      border-radius: $border-radius-base;
    }

    &-track {
      position: relative;
      width: 100%;
      height: 4px;
      top: -1px;
      background-color: #545454;
      border-radius: $border-radius-base;
    }

    &-handle {
      position: absolute;
      top: 1.5px;
      width: 22px;
      height: 22px;
      border: solid 2px;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      cursor: grab;
      touch-action: pan-x;
      z-index: 2;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:active {
        cursor: grabbing;
      }
    }

    &-mark {
      position: absolute;
      top: 18px;
      left: 0;
      width: 100%;
      font-size: 12px;
    }

    &-mark-text {
      position: absolute;
      display: inline-block;
      color: #999;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      &-active {
        color: #666;
      }
    }

    &-step {
      position: absolute;
      width: calc(100% - 24px);
      height: 4px;
      background: transparent;
      pointer-events: none;
    }

    &-dot {
      position: absolute;
      bottom: -2px;
      width: 8px;
      height: 8px;
      vertical-align: middle;
      background-color: #fff;
      border: 2px solid #e9e9e9;
      border-radius: 50%;
      cursor: pointer;

      &-reverse {
        margin-right: -4px;
      }
    }
  }

  .rc-slider.my-work {
    .rc-slider-handle {
      border-color: $workspace-teal-dark-1;
      &:hover {
        background-color: $workspace-teal-light-4;
      }
      &:active {
        background-color: $workspace-teal-light-2
      }
    }
  }

  .rc-slider.class-work {
    .rc-slider-handle {
      border-color: $workspace-teal-dark-1;
      &:hover {
        background-color: $workspace-teal-light-4;
      }
      &:active {
        background-color: $workspace-teal-light-2
      }
    }
  }

  .rc-slider.sort-work, .rc-slider.student-work {
    .rc-slider-handle {
      border-color: $charcoal-dark-1;
      &:hover {
        background-color: $charcoal-light-4;
      }
      &:active {
        background-color: $charcoal-light-2
      }
    }
  }

  .rc-slider.learning-log {
    .rc-slider-handle {
      border-color: $learninglog-green-dark-1;
      &:hover {
        background-color: $learninglog-green-light-5;
      }
      &:active {
        background-color: $learninglog-green-light-2
      }
    }
  }

  .rc-slider.problems {
    .rc-slider-handle {
      border-color: $problem-orange-dark-1;
      &:hover {
        background-color: $problem-orange-light-5;
      }
      &:active {
        background-color: $problem-orange-light-2
      }
    }
  }
}

.time-info {
  width: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $charcoal-dark-2;
  font-size: 13px;
  margin: 0 12px;
  pointer-events: none;

  div {
    margin: 0;
  }
}
