@import "../vars";

.playback-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 44px;
  height: 50px;
  position: absolute;
  bottom: 3px;
  left: 2px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  &.show-control {
    width: calc(100% - 15px);
    border-right: none;
    border-top-right-radius: 0px;
  }
  &.my-work {
    border-color: $workspace-teal;
  }
  &.class-work {
    border-color: $classwork-purple
  }
  &.supports {
    border-color: $support-blue;
  }

  .canvas-separator {
    width: $canvas-separator-width;
    height: 46px;
    bottom: 2px;
    left: 44px;
    &.my-work {
      background-color: $workspace-teal-light-4;
    }
    &.class-work {
      background-color: $classwork-purple-light-4;
    }
    &.student-works {
      background-color: $charcoal-light-4;
    }
    &.learning-log {
      background-color: $learninglog-green-light-5;
    }
  }

  .playback-toolbar-button-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;

    &:hover {
      background-color: white !important;
    }
    &:active {
      background-color: white !important;
    }

    .playback-toolbar-button-container {
      height: 44px;
      width: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
      &.my-work {
        border-color: $workspace-teal;
        background-color: $workspace-teal-light-4;
        &:hover {
          background-color: $workspace-teal-light-3;
        }
        &:active {
          background-color: $workspace-teal-light-2
        }
      }
      &.class-work {
        border-color: $classwork-purple;
        background-color: $classwork-purple-light-5;
        &:hover {
          background-color: $classwork-purple-light-4;
        }
        &:active {
          background-color: $classwork-purple-light-2;
        }
      }
      &.student-works {
        border-color: $charcoal;
        background-color: $charcoal-light-4;
        &:hover {
          background-color: $charcoal-light-3;
        }
        &:active {
          background-color: $charcoal-light-2
        }
      }
      &.learning-log {
        border-color: $learninglog-green;
        background-color: $learninglog-green-light-5;
        &:hover {
          background-color: $learninglog-green-light-4;
        }
        &:active {
          background-color: $learninglog-green-light-2;
        }
      }
      &.show-control {
        &.my-work {
          background-color: $workspace-teal-light-2;
        }
        &.class-work {
          background-color: $classwork-purple-light-2;
        }
        &.student-works {
          background-color: $charcoal-light-2;
        }
        &.learning-log {
          background-color: $learninglog-green-light-2;
        }
      }

      .playback-toolbar-button {
        width: 36px;
        height: 34px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &.my-work {
          background-color: $workspace-teal-light-4;
          &:hover {
            background-color: $workspace-teal-light-3;
          }
          &:active {
            background-color: $workspace-teal-light-2
          }
        }
        &.class-work {
          border-color: $classwork-purple;
          background-color: $classwork-purple-light-5;
          &:hover {
            background-color: $classwork-purple-light-4;
          }
          &:active {
            background-color: $classwork-purple-light-2;
          }
        }
        &.student-works {
          background-color: $charcoal-light-4;
          &:hover {
            background-color: $charcoal-light-3;
          }
          &:active {
            background-color: $charcoal-light-2
          }
        }
        &.learning-log {
          background-color: $learninglog-green-light-5;
          &:hover {
            background-color: $learninglog-green-light-4;
          }
          &:active {
            background-color: $learninglog-green-light-2;
          }
        }
        &.show-control {
          &.my-work {
            background-color: $workspace-teal-light-2;
          }
          &.class-work {
            background-color: $classwork-purple-light-2;
          }
          &.student-works {
            background-color: $charcoal-light-2;
          }
          &.learning-log {
            background-color: $learninglog-green-light-2;
          }
        }
      }
    }
    &.disabled {
      opacity: 35%;
      cursor: auto;
    }
  }

  .playback-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 15px);
    height: 44px;

    &.my-work {
      background-color: $workspace-teal-light-8;
    }
    &.class-work {
      background-color: $classwork-purple-light-8;
    }
    &.student-works {
      background-color: $charcoal-light-8;
    }
    &.learning-log {
      background-color: $learninglog-green-light-8;
    }

    .play-button {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
      position: relative;
      &.my-work {
        background-color: $workspace-teal-light-8;
      }
      &.class-work {
        background-color: $classwork-purple-light-5;
        stroke: $classwork-purple-dark-1;
        fill: $classwork-purple-dark-1;
      }
      &.student-works {
        background-color: $charcoal-light-4;
      }
      &.learning-log {
        background-color: $learninglog-green-light-5;
      }
    }



    .time-info {
      width: 85px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $charcoal-dark-2;
      font-size: 13px;
      margin: 0 12px;
      pointer-events: none;

      div {
        margin: 0;
      }
    }
  }
}
