@import "../vars";
$border-radius-base: 6px;

.slider-component {
  width: calc(100% - 150px);
  height: 46px;
  display: flex;
  justify-items: center;
  flex-direction: column;

  .marker-rail {
    height: 23px;
    &.my-work {
      background-color: $workspace-teal-light-5;
    }
    &.class-work {
      background-color: $classwork-purple-light-5;
    }
    &.student-groups {
      background-color: $charcoal-light-5;
    }
    &.learning-log {
      background-color: $learninglog-green-light-5;
    }
  }

  .slider-rail {
    width: 100%;
  }

  .rc-slider {
    position: relative;
    width: calc(100% - 24px);
    height: 14px;
    padding: 12px 0;
    margin: 0 5px 0 10px;
    border-radius: $border-radius-base;
    touch-action: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &-rail {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #949494;
      border-radius: $border-radius-base;
    }

    &-track {
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #545454;
      border-radius: $border-radius-base;
    }

    &-handle {
      position: absolute;
      width: 22px;
      height: 22px;
      border: solid 2px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0px 5px 0 2px;
      cursor: pointer;
      cursor: grab;
      touch-action: pan-x;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:active {
        cursor: grabbing;
      }
    }

    &-mark {
      position: absolute;
      top: 18px;
      left: 0;
      width: 100%;
      font-size: 12px;
    }

    &-mark-text {
      position: absolute;
      display: inline-block;
      color: #999;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      &-active {
        color: #666;
      }
    }

    &-step {
      position: absolute;
      width: calc(100% - 24px);
      height: 4px;
      background: transparent;
      pointer-events: none;
    }

    &-dot {
      position: absolute;
      bottom: -2px;
      width: 8px;
      height: 8px;
      vertical-align: middle;
      background-color: #fff;
      border: 2px solid #e9e9e9;
      border-radius: 50%;
      cursor: pointer;

      &-reverse {
        margin-right: -4px;
      }
    }
  }

  .rc-slider.my-work {
    .rc-slider-handle {
      border-color: $workspace-teal-dark-1;
      &:hover {
        background-color: $workspace-teal-light-4;
      }
      &:active {
        background-color: $workspace-teal-light-2
      }
    }
  }

  .rc-slider.class-work {
    .rc-slider-handle {
      border-color: $classwork-purple-dark-1;
      &:hover {
        background-color: $classwork-purple-light-5;
      }
      &:active {
        background-color: $classwork-purple-light-2
      }
    }
  }

  .rc-slider.student-works {
    .rc-slider-handle {
      border-color: $charcoal-dark-1;
      &:hover {
        background-color: $charcoal-light-4;
      }
      &:active {
        background-color: $charcoal-light-2
      }
    }
  }

  .rc-slider.learning-log {
    .rc-slider-handle {
      border-color: $learninglog-green-dark-1;
      &:hover {
        background-color: $learninglog-green-light-5;
      }
      &:active {
        background-color: $learninglog-green-light-2
      }
    }
  }
}
