@import ../../vars

.drawing-tool
  display: flex
  border: 1px solid #BBB
  height: 100%

.drawing-tool-toolbar
  position: absolute
  height: $toolbar-height
  border: $toolbar-border
  border-radius: 0 0 $toolbar-border-radius $toolbar-border-radius
  background-color: $workspace-teal-light-9
  // overflow: hidden   // breaks subpalettes
  z-index: $toolbar-z-index
  &.disabled
    display: none
  .drawing-tool-buttons
    display: flex
    font-size: 24px
    text-align: center
    .drawing-tool-button
      position: relative
      user-select: none
      width: $toolbar-button-width
      height: $toolbar-button-height
      cursor: pointer
      &.selected
        background-color: $workspace-teal-light-4
        &.button-select
          svg path
            fill: $workspace-teal-dark-1
      &:hover
        background-color: $workspace-teal-light-6
      &:active
        background-color: $workspace-teal-light-4
        &.button-select
          svg path
            fill: $workspace-teal-dark-1

      &.button-stamp
        display: flex
        align-items: center
        justify-content: center
        img
          max-width: 23px
          max-height: 23px
          z-index: 1
        .expand-collapse
          position: absolute
          right: 0
          bottom: 0
          width: 10px
          height: 10px
          &:hover
            background-color: $workspace-teal-light-4
          svg
            position: absolute
            left: 1px
            top: 1px
            fill: $workspace-teal-dark-1

      &.disabled
        opacity: 25%
        cursor: default
    a
      text-decoration: none
      color: #000

  .palette-buttons
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: center
    padding: 2.5px

    .stamp-button
      position: relative
      width: 30px
      height: 30px

      img
        position: absolute
        left: 3px
        top: 3px
        max-width: 24px
        max-height: 24px

      &.select
        stroke: $workspace-teal
      &:hover
        stroke: $workspace-teal-light-2
      &:active
        stroke: $workspace-teal

    .color-swatch
      position: relative
      width: 30px
      height: 30px

      svg
        position: absolute
        left: 0
        top: 0

      .none-icon
        left: 4px
        top: 4px
      .check-icon
        left: 4px
        top: 4px
        fill: white
      &.light
        .check-icon
          fill: $workspace-teal

      &.light
        .contrast-border
          stroke: $charcoal-light-1

      .highlight
        &.select
          stroke: $workspace-teal
      &:hover
        .highlight
          stroke: $workspace-teal-light-2
      &:active
        .highlight
          stroke: $workspace-teal

  .toolbar-palette
    position: absolute
    height: 70px
    background-color: $workspace-teal-light-9
    border: $toolbar-border
    border-radius: 0 $toolbar-border-radius $toolbar-border-radius $toolbar-border-radius
    z-index: $toolbar-z-index

    &.stamps
      left: 180px
      width: 190px
      &.one-row
        height: 40px

    &.stroke-color
      left: 216px
      width: 129px

    &.fill-color
      left: 252px
      width: 159px

  &.flip
    .toolbar-palette
      top: -70px
      border-radius: $toolbar-border-radius $toolbar-border-radius $toolbar-border-radius 0
      &.one-row
        top: -40px

.drawing-tool.read-only .drawing-tool-toolbar
  .drawing-tool-button
    cursor: default
