.custom-modal.variable-dialog {
  .content {
    margin: 10px;
    .input-entry {
      .label {
        margin: 5px;
        color: black;
      }
      input {
        margin: 5px;
        height: 24px;
        padding: 0 3px;
      }
    }
  }
}

