@import ../vars

$tab-height: 20px

.teacher-dashboard-four-up
  color: green
  font-size: 50px

  .teacher-group-canvas-container
    position: absolute
    top: 45px
    right: 5px
    bottom: 5px
    left: 5px

  .teacher-group-canvas
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0