@import ../vars

.teacher-group-tab
  display: grid
  grid-template-columns: 1fr 80px
  grid-template-rows: 1fr 80px
  overflow: scroll
  .teacher-supports
    padding: 5px

  .teacher-group-six-pack-pager
    position: fixed
    left: 0
    right: 0
    bottom: 0
    height: 55px
    display: grid
    justify-items: center
    align-items: center
    grid-auto-flow: column
    background-color: $color1-2

    button
      outline: none
      background-color: $color1-4
      border-radius: 5px
      &:hover
        background-color: $color1-3
